force-app/main/default/flows/Account_Maintenance_Request_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Account Owner Request</description>
        <name>Account_Owner_Request</name>
        <label>Account Owner Request</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Check_Request_Type_For_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ownership_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ownership Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Owner</targetReference>
            </connector>
            <label>Ownership Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Request Type For Notification</description>
        <name>Check_Request_Type_For_Notification</name>
        <label>Check Request Type For Notification</label>
        <locationX>314</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Send_Approval_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Enrichment_Contact_Sourcing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source New Contacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Completion_Notification</targetReference>
            </connector>
            <label>Data Enrichment / Contact Sourcing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Target Account Request</description>
        <name>Target_Account_Request</name>
        <label>Target Account Request</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Account_Owner_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Account_Update_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Target Account Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Target_Account_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Target Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Target_Account</targetReference>
            </connector>
            <label>Target Account Update Add</label>
        </rules>
        <rules>
            <name>Target_Account_Update_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Target Account Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Target_Account_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove Target Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Target_Account</targetReference>
            </connector>
            <label>Target Account Update Remove</label>
        </rules>
    </decisions>
    <description>Add notification for request completion</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_account_url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Account__c}</expression>
    </formulas>
    <interviewLabel>Account Maintenance Request: A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Maintenance Request: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Clear Target Account</description>
        <name>Clear_Target_Account</name>
        <label>Clear Target Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Account_Owner_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.Static_User_Settings__c.Unassigned_User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Account_Removal_Reason__c</field>
            <value>
                <elementReference>$Record.Target_Account_Removal_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>target_account_tier__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Account Owner</description>
        <name>Set_Account_Owner</name>
        <label>Set Account Owner</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Check_Request_Type_For_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.New_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Target Account</description>
        <name>Set_Target_Account</name>
        <label>Set Target Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Account_Owner_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Target_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>target_account_tier__c</field>
            <value>
                <elementReference>$Record.Target_Account_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Target_Account_Request</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Account_Maintenance_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Approval request notification for account maintenance fulfillment</description>
        <name>Send_Approval_Notification</name>
        <label>Send Approval Notification</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_approval_slack_notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Completion request notification for account maintenance fulfillment</description>
        <name>Send_Completion_Notification</name>
        <label>Send Completion Notification</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_completion_slack_notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>slack message body for approval notification</description>
        <name>tt_approval_slack_notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Account Maintenance Request Has Been Approved
&lt;{!frml_account_url}|View Account Record&gt;
Account Owner: {!$Record.Account__r.Owner.FirstName} {!$Record.Account__r.Owner.LastName}
Target Account: {!$Record.Account__r.Target_Account__c}
Target Account Tier: {!$Record.Account__r.target_account_tier__c}</text>
    </textTemplates>
    <textTemplates>
        <name>tt_completion_slack_notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Account Maintenance Request Has Been Completed
Request Type: {!$Record.Request_Type__c}
Comments: {!$Record.Comments__c}
&lt;{!frml_account_url}|View Account Record&gt;</text>
    </textTemplates>
</Flow>
