force-app/main/default/flows/Account_Maintenance_Request_Screenflow_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create Account Maintenance Approval Request</description>
        <name>Create_Account_Maintenance_Approval_Request</name>
        <label>Create Account Maintenance Approval Request</label>
        <locationX>578</locationX>
        <locationY>3122</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>AccountMaintenanceRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments_For_Approver_long</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Account_Maintenance_Request</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Clear Error, Set Account Lookup</description>
        <name>Clear_Error_Set_Account_Lookup</name>
        <label>Clear Error, Set Account Lookup</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear Error, Set Comments Value</description>
        <name>Clear_Error_Set_Comments_Value</name>
        <label>Clear Error, Set Comments Value</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_For_Approver_long</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Target_Account_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Invalid Request Type Validation Error</description>
        <name>Invalid_Request_Type_Validation_Error</name>
        <label>Invalid Request Type Validation Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Request Type Selection, Please Try Again</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Request_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Assigned To From Creator Manager</description>
        <name>Set_Assigned_To_From_Creator_Manager</name>
        <label>Set Assigned To From Creator Manager</label>
        <locationX>864</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Assigned_To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Creator_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Maintenance Request Owner</description>
        <name>Set_Maintenance_Request_Owner</name>
        <label>Set Maintenance Request Owner</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Assigned_To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_To_Assign_To.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Error_Set_Comments_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Request Type And Owner</description>
        <name>Set_Request_Type_And_Owner_Enrichment</name>
        <label>Set Request Type And Owner Enrichment</label>
        <locationX>710</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Assigned_To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Megan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Request Type And Owner</description>
        <name>Set_Request_Type_And_Owner_Source_Contact</name>
        <label>Set Request Type And Owner Source Contact</label>
        <locationX>974</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMaintenanceRequest.Assigned_To_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Lauren.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set SDR Request Var</description>
        <name>Set_SDR_Request_Var</name>
        <label>Set SDR Request Var</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_sdr_request</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Maintenance_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Error Message Owner</description>
        <name>Update_Error_Message_Owner</name>
        <label>Update Error Message Owner</label>
        <locationX>512</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> You Must Add An Owner For Ownership Update Requests</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Source_New_Contacts_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Error Message Source Contacts</description>
        <name>Update_Error_Message_Source_Contacts</name>
        <label>Update Error Message Source Contacts</label>
        <locationX>512</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>You Must Fill Out All Source New Contact Fields To Advance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_There_Is_An_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Error Message Target Account</description>
        <name>Update_Error_Message_Target_Account</name>
        <label>Update Error Message Target Account</label>
        <locationX>512</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>var_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are missing a required field for Target Account Updates, please see text in red below</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Missing_Owner_Field</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Daragh_McGrath</name>
        <choiceText>Daragh McGrath</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daragh McGrath</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gajia_Parsons</name>
        <choiceText>Gajia Parsons</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gajia Parsons</stringValue>
        </value>
    </choices>
    <choices>
        <name>Geetha_Panchapakesan</name>
        <choiceText>Geetha Panchapakesan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Geetha Panchapakesan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jeffrey_Lennox</name>
        <choiceText>Jeffrey Lennox</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jeffrey Lennox</stringValue>
        </value>
    </choices>
    <choices>
        <name>Matt_Stafford</name>
        <choiceText>Matt Stafford</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matt Stafford</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miriam_Kiwan</name>
        <choiceText>Miriam Kiwan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miriam Kiwan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Raagulan_Ratnasabapathy</name>
        <choiceText>Raagulan Ratnasabapathy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Raagulan Ratnasabapathy</stringValue>
        </value>
    </choices>
    <choices>
        <description>Sanja Kon</description>
        <name>Sanja_Kon</name>
        <choiceText>Sanja Kon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sanja Kon</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Approval Process / Slack Notifications</description>
        <name>Approval_Process_Slack_Notifications</name>
        <label>Approval Process / Slack Notifications</label>
        <locationX>974</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trigger_Approval_Process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ownership Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Target Account Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Maintenance_Approval_Request</targetReference>
            </connector>
            <label>Trigger Approval Process</label>
        </rules>
        <rules>
            <name>Data_Enrichment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Enrichment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Enrichment_Slack</targetReference>
            </connector>
            <label>Data Enrichment</label>
        </rules>
        <rules>
            <name>Source_New_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source New Contacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SourceNewContactsSlack</targetReference>
            </connector>
            <label>Source New Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Request Type Is Valid</description>
        <name>Check_If_Request_Type_Is_Valid</name>
        <label>Check If Request Type Is Valid</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Clear_Error_Set_Account_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frml_request_type_validated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Request_Type_Validation_Error</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if SDR Request, Assign Owner</description>
        <name>Check_if_SDR_Request_Assign_Owner</name>
        <label>Check if SDR Request, Assign Owner</label>
        <locationX>644</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Clear_Error_Set_Comments_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDR_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sdr_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_To_Assign_To</targetReference>
            </connector>
            <label>SDR Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If There Is An Error</description>
        <name>Check_If_There_Is_An_Error</name>
        <label>Check If There Is An Error</label>
        <locationX>644</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Check_Request_Type_Set_Approval_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_send_back_to_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_error_message</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Maintenance_Request</targetReference>
            </connector>
            <label>Yes, send back to screen</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Request Type, Set Approval Status</description>
        <name>Check_Request_Type_Set_Approval_Status</name>
        <label>Check Request Type, Set Approval Status</label>
        <locationX>974</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Create_Maintenance_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Enrichment_Request</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Enrichment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Megan</targetReference>
            </connector>
            <label>Data Enrichment Request</label>
        </rules>
        <rules>
            <name>Source_New_Contacts_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source New Contacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Lauren</targetReference>
            </connector>
            <label>Source New Contacts Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>BD vs SDR vs Partner Manager Logic is different</description>
        <name>Check_User_Profile</name>
        <label>Check User Profile</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Creator_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Is_Data_Enrichment_Or_Source_New_Contacts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source New Contacts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Enrichment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Maintenance_Request</targetReference>
            </connector>
            <label>Request Is Data Enrichment Or Source New Contacts</label>
        </rules>
        <rules>
            <name>User_is_SDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onramp Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR Exec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SDR_Request_Var</targetReference>
            </connector>
            <label>User is SDR</label>
        </rules>
    </decisions>
    <decisions>
        <description>Missing Owner Field</description>
        <name>Missing_Owner_Field</name>
        <label>Missing Owner Field</label>
        <locationX>644</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Missing_Source_New_Contacts_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ownership Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.New_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_sdr_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Message_Owner</targetReference>
            </connector>
            <label>Owner Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Missing Source New Contacts Fields</description>
        <name>Missing_Source_New_Contacts_Fields</name>
        <label>Missing Source New Contacts Fields</label>
        <locationX>644</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Check_If_There_Is_An_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Error_Message_Source_New_Contacts</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Job_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Job_Level_Keywords__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Country_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Is_Email_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Source New Contacts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Message_Source_Contacts</targetReference>
            </connector>
            <label>Update Error Message Source New Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Missing Target Account Field Check</description>
        <name>Missing_Target_Account_Field</name>
        <label>Missing Target Account Field</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Missing_Owner_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Account_Error</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR ((5 OR 6) AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Target Account Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Target_Account_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Target Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Target_Account_Removal_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Target_Account_Removal_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove Target Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Message_Target_Account</targetReference>
            </connector>
            <label>Target Account Error</label>
        </rules>
    </decisions>
    <description>Partner Manager Update</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_account_maintenance_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!AccountMaintenanceRequest.Id}</expression>
    </formulas>
    <formulas>
        <name>frml_account_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!AccountMaintenanceRequest.Account__c}</expression>
    </formulas>
    <formulas>
        <name>frml_request_type_validated</name>
        <dataType>Boolean</dataType>
        <expression>AND(
!ISBLANK({!AccountMaintenanceRequest.Request_Type__c}),
   OR(
      AND(
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Ownership Update&apos;),
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Target Account Update&apos;),
         Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Data Enrichment&apos;),
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Source New Contacts&apos;)
      ),
      AND(
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Ownership Update&apos;),
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Target Account Update&apos;),
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Data Enrichment&apos;),
         Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Source New Contacts&apos;)
      ),
      AND(
         OR(
            Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Ownership Update&apos;),
            Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Target Account Update&apos;)
         ),
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Data Enrichment&apos;),
         !Includes({!AccountMaintenanceRequest.Request_Type__c},&apos;Source New Contacts&apos;)
      )
   )
)</expression>
    </formulas>
    <interviewLabel>Account Maintenance Request: Screenflow: New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Maintenance Request: Screenflow: New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Maintenance Request</description>
        <name>Create_Maintenance_Request</name>
        <label>Create Maintenance Request</label>
        <locationX>974</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>Approval_Process_Slack_Notifications</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Maintenance_Request</targetReference>
        </faultConnector>
        <inputReference>AccountMaintenanceRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Creator_Manager</name>
        <label>Get Creator Manager</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Assigned_To_From_Creator_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Lauren</name>
        <label>Get User (Lauren)</label>
        <locationX>974</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Request_Type_And_Owner_Source_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lauren</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Granchelli</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Megan</name>
        <label>Get User (Megan)</label>
        <locationX>710</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Request_Type_And_Owner_Enrichment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Megan</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meric</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User To Assign To</description>
        <name>Get_User_To_Assign_To</name>
        <label>Get User To Assign To</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Maintenance_Request_Owner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Maintenance_Request</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_Account_Maintenance_Request_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>New Maintenance Request Screen</description>
        <name>New_Maintenance_Request</name>
        <label>New Maintenance Request</label>
        <locationX>644</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_SDR_Request_Assign_Owner</targetReference>
        </connector>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>custom_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!var_error_message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Maintenance_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Maintenance_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssignedToDisplay</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This Maintenance Request Will Be Assigned To: {!Get_Creator_Manager.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_sdr_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assign_Account_Maintenance_Request_To</name>
                    <choiceReferences>Raagulan_Ratnasabapathy</choiceReferences>
                    <choiceReferences>Gajia_Parsons</choiceReferences>
                    <choiceReferences>Geetha_Panchapakesan</choiceReferences>
                    <choiceReferences>Jeffrey_Lennox</choiceReferences>
                    <choiceReferences>Matt_Stafford</choiceReferences>
                    <choiceReferences>Miriam_Kiwan</choiceReferences>
                    <choiceReferences>Sanja_Kon</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assign Account Maintenance Request To:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>var_sdr_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Source New Contacts</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Data Enrichment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Maintenance_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Maintenance_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TargetAccountUpdate</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Target Account Update&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>UpdateTypeRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Target Account Update Type Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Target_Account_Tier__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Add Target Account</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TargetAccountMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt;Target Account Tier Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Add Target Account</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Tier__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Target_Account_Removal_Reason__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Remove Target Account</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TargetAccountRemovalReasonMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;Target Account Removal Reason Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Update_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Remove Target Account</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Target_Account_Removal_Reason__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Target Account Update</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Maintenance_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Maintenance_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OwnershipUpdateText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Ownership Update&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.New_Owner__c</objectFieldReference>
                </fields>
                <fields>
                    <name>NewOwnerRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(255, 0, 0);&quot;&gt;New Owner Is Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Ownership Update</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AccountMaintenanceRequest.New_Owner__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_sdr_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Ownership Update</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_sdr_request</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Maintenance_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Maintenance_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataEnrichmentLabel</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Data Enrichment&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EnrichMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 20, 20);&quot;&gt;Enrich all the Cognism fields on the account record.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Data Enrichment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Maintenance_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Maintenance_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SourceNewContactsLabel</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;Source New Contacts&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SourceNewContactsRequiredFields</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(208, 20, 20);&quot;&gt;All Of The Following Fields Are Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Job_Level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Job_Level_Keywords__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Country_Region__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountMaintenanceRequest.Is_Email_Required__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountMaintenanceRequest.Request_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Source New Contacts</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments_For_Approver_long</name>
            <fieldText>Comments For Approver</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Request_Type_Screen</name>
        <label>Select Request Type Screen</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_If_Request_Type_Is_Valid</targetReference>
        </connector>
        <fields>
            <name>errorMessageRequestType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!var_error_message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_error_message</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>AccountMaintenanceRequest.Request_Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>RequestTypeMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Pick One Of The Following Request Types (Target Account &amp;amp; Owner Change Can Be Selected Together)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>974</locationX>
        <locationY>3314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRequest</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountMaintenanceRequest.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Request_Type_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Data Enrichment Slack</description>
        <name>Data_Enrichment_Slack</name>
        <label>Data Enrichment Slack</label>
        <locationX>842</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.crm_bd_enrichment_requests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Account_Maintenance_Approval_Request.entityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_data_enrichment_slack</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Data Enrichment Slack</description>
        <name>SourceNewContactsSlack</name>
        <label>Source New Contacts Slack</label>
        <locationX>1106</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.crm_bd_enrichment_requests__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Account_Maintenance_Approval_Request.entityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_source_new_contacts_request</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Phillip &amp; Megan</description>
        <name>tt_data_enrichment_slack</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Data Enrichment Request Has Been Submitted
Comments: {!Comments_For_Approver_long}
Account: &lt;{!frml_account_url}|{!AccountMaintenanceRequest.Account__r.Name}&gt;
&lt;{!frml_account_maintenance_url}|View Account Maintenance Request&gt;
&lt;@U03EQ7DGKU4&gt; &lt;@U03CYPP2R2L&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Lauren Phillip Megan</description>
        <name>tt_source_new_contacts_request</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Source New Contacts Request Has Been Submitted
Comments: {!Comments_For_Approver_long}
Job Level: {!AccountMaintenanceRequest.Job_Level__c}
Job Title Keywords: {!AccountMaintenanceRequest.Job_Level_Keywords__c}
Country / Region: {!AccountMaintenanceRequest.Country_Region__c}
Is Email Required?: {!AccountMaintenanceRequest.Is_Email_Required__c}
Account: &lt;{!frml_account_url}|{!AccountMaintenanceRequest.Account__r.Name}&gt;
&lt;{!frml_account_maintenance_url}|View Account Maintenance Request&gt;
&lt;@U04K659RKEZ&gt; &lt;@U03EQ7DGKU4&gt; &lt;@U03CYPP2R2L&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountMaintenanceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Maintenance_Request__c</objectType>
    </variables>
    <variables>
        <description>Record ID input through lightning action</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sdr_request</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
