force-app/main/default/flows/Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Has_a_new_Alliance_Program_Member_been_approved</name>
        <label>Has a new Alliance Program Member been approved?</label>
        <locationX>710</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Update_Date_of_Alliance_Program_Submission</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Update_Date_of_Alliance_Program_Approval</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>PDR_Rejected</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDR_Rejected_Update_Date_of_Alliance_Program_Rejection</targetReference>
            </connector>
            <label>PDR Rejected</label>
        </rules>
        <rules>
            <name>Compliance_Rejected</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Rejected_Update_Date_of_Alliance_Program_Rejection</targetReference>
            </connector>
            <label>Compliance Rejected</label>
        </rules>
        <rules>
            <name>PDR_Qualified</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDR_Qualified_Update_Date_of_Alliance_Prog_PDR_Qualification</targetReference>
            </connector>
            <label>PDR Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Mint Partner Referrer Set</description>
        <name>Mint_Partner_Referrer_Set</name>
        <label>Mint Partner Referrer Set</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Has_a_new_Alliance_Program_Member_been_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mint_Referrer_Set_Send_Slack</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mint_Partner_Referrer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mint_Partner_Referrer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Mint_Partner_Referrer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Circle_Mint_Referral_Slack</targetReference>
            </connector>
            <label>Mint Referrer Set, Send Slack</label>
        </rules>
    </decisions>
    <description>Alliance Pgm update Status PDR Qualify and Recycle Status Contact-&gt;Account
PDR Qualified should not be overwitten by Rejected</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_account_name</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>frml_csm_slack</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!$Record.Customer_Success_Manager__r.Circle_Slack_Channel_Id__c}),&apos;&lt;@&apos;+{!$Record.Customer_Success_Manager__r.Circle_Slack_Channel_Id__c}+&apos;&gt;, &apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>frml_record_url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Account: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Approved_Update_Date_of_Alliance_Program_Approval</name>
        <label>Approved, Update Date of Alliance Program Approval</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>new_alliance_program_members_slack_notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Approval__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Compliance_Rejected_Update_Date_of_Alliance_Program_Rejection</name>
        <label>Compliance Rejected, Update Date of Alliance Program Rejection</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Rejection__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PDR_Qualified_Update_Date_of_Alliance_Prog_PDR_Qualification</name>
        <label>PDR Qualified, Update Date of Alliance Prog PDR Qualification</label>
        <locationX>1106</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Date_of_Alliance_Prog_PDR_Qualification__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PDR_Rejected_Update_Date_of_Alliance_Program_Rejection</name>
        <label>PDR Rejected, Update Date of Alliance Program Rejection</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Rejection__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Submitted_Update_Date_of_Alliance_Program_Submission</name>
        <label>Submitted, Update Date of Alliance Program Submission</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Form_Submission__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mint_Partner_Referrer_Set</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>new_alliance_program_members_slack_notification</name>
        <label>#new-alliance-program-members slack notification</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <stringValue>C06TP0K2JL9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_alliance_prg_application_approved</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Send Circle Mint Referral Slack</description>
        <name>Send_Circle_Mint_Referral_Slack</name>
        <label>Send Circle Mint Referral Slack</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Has_a_new_Alliance_Program_Member_been_approved</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.circle_mint_referrals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_mint_referrer_slack</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_alliance_prg_application_approved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Woohoo! A new Circle Alliance Program member has been approved!
Account Name:  &lt;{!frml_account_name}|{!$Record.Name}&gt;
Company Description: {!$Record.Company_Description__c}
&lt;{!frml_record_url}|View Salesforce Record&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_mint_referrer_slack</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Partner Referral Alert!
&lt;{!frml_record_url}|{!$Record.Name}&gt; was referred by {!$Record.Mint_Partner_Referrer__c}
{!frml_csm_slack}Please review them in Diameter and approve so they can proceed with their application.
Reach out to Compliance if this application needs to be escalated for approval. 
&lt;{!frml_record_url}|View Salesforce Record&gt;</text>
    </textTemplates>
</Flow>
