force-app/main/default/flows/AL_Round_Robin_Account_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign Date/Time for Last Assignment</description>
        <name>Assign_Round_Robin</name>
        <label>Assign Round Robin</label>
        <locationX>908</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_Group_Members.Last_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Round_Robin_User_Last_Assignment_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Group Type For Assignment</description>
        <name>Check_Group_Type_For_Assignment</name>
        <label>Check Group Type For Assignment</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Round_Robin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAssignmentGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_CSM_Field</targetReference>
            </connector>
            <label>CSM</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAssignmentGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_SE_Field</targetReference>
            </connector>
            <label>SE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If SE Failed To Be Assigned</description>
        <name>Check_If_SE_Failed_To_Be_Assigned</name>
        <label>Check If SE Failed To Be Assigned</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_Failed_To_Be_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAssignmentGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txt_OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>SE Failed To Be Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if this is for the Jumpstart RR Group</description>
        <name>isJumpStart</name>
        <label>isJumpStart</label>
        <locationX>622</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Round_Robin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesJumpstart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundRobinAssignmentGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Jumpstart</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Scaled_Success_Customer_Slack_Notification</targetReference>
            </connector>
            <label>yesJumpstart</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Round_Robin_User_Available</name>
        <label>No Round Robin User Available</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_Group_Type_For_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Available User Found</defaultConnectorLabel>
        <rules>
            <name>No_Available_User_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignment_Group_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Group_Members.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_RR_User_Available_Notification</targetReference>
            </connector>
            <label>No Available User Found</label>
        </rules>
    </decisions>
    <description>SE Failure Notification Message</description>
    <environments>Default</environments>
    <formulas>
        <description>This is Helen McCarty Slack Channel ID</description>
        <name>frml_HelenMcCarty_Slack</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Get_Org.IsSandbox}), &apos;U01TAFK4LQ3&apos;, &apos;C05053QPX9P&apos;)</expression>
    </formulas>
    <formulas>
        <description>This is the formula for the Opportunity URL</description>
        <name>frml_OpportunityRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!txt_OpportunityId}</expression>
    </formulas>
    <formulas>
        <name>frml_SalesforceUserNotificationChannelId</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Get_Org.IsSandbox}), &apos;C04EJPWLEN7&apos;, &apos;C05053QPX9P&apos;)</expression>
    </formulas>
    <formulas>
        <name>frml_SE_Notification_Channel</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Get_Org.IsSandbox}), &apos;C05QJ0Q05K6&apos;, &apos;C05053QPX9P&apos;)</expression>
    </formulas>
    <formulas>
        <description>This will get the value for the workspace depending on if you are in production or sandbox.  Production will use the Circle Workspace Id and Sandbox will use the Circle Contractor Workspace Id so we can test slack notifications.</description>
        <name>frml_SlackWorkspace</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Get_Org.IsSandbox}), &apos;T0252ABLY&apos;, &apos;TECALKNBE&apos;)</expression>
    </formulas>
    <interviewLabel>AL - Round Robin - Account Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Subflow: RR Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_Group_Record</name>
        <label>Get Assignment Group Record</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoundRobinAssignmentGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Round_Robin_User_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_Group_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin_Member__c</object>
        <sortField>Last_Assignment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SE_Assignment_Failed_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Used to determine if this is the sandbox or prod</description>
        <name>Get_Org</name>
        <label>Get Org</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_Group_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_CSM_Field</name>
        <label>Update Account CSM Field</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>isJumpStart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Success_Manager__c</field>
            <value>
                <elementReference>Get_Group_Members.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_SE_Field</name>
        <label>Update Account SE Field</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Round_Robin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solutions_Engineer__c</field>
            <value>
                <elementReference>Get_Group_Members.User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Round_Robin_User_Last_Assignment_Date</name>
        <label>Update Round Robin User Last Assignment Date</label>
        <locationX>908</locationX>
        <locationY>1274</locationY>
        <inputReference>Get_Group_Members</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This sends a slack notification when a CSM is assigned</description>
        <name>New_Scaled_Success_Customer_Slack_Notification</name>
        <label>New Scaled Success Customer Slack Notification</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Round_Robin</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>frml_HelenMcCarty_Slack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_New_Scaled_Success_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackWorkspace</name>
            <value>
                <elementReference>frml_SlackWorkspace</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Used to notify the #salesforce-user-notification channel that no RR User is available</description>
        <name>No_RR_User_Available_Notification</name>
        <label>No RR User Available Notification</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_If_SE_Failed_To_Be_Assigned</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>frml_SalesforceUserNotificationChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_No_RR_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackWorkspace</name>
            <value>
                <elementReference>frml_SlackWorkspace</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Notify SE channel that no SE was able to be assigned C05QJ0Q05K6</description>
        <name>SE_Assignment_Failed_Notification</name>
        <label>SE Assignment Failed Notification</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>frml_SE_Notification_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_SE_Assignment_Failure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackWorkspace</name>
            <value>
                <elementReference>frml_SlackWorkspace</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>This is the slack message that will be sent to Helen McCarty when a CSM is assigned to an Opportunity that is NOT in the Jumpstart Round Robin Group</description>
        <name>tt_New_Scaled_Success_Customer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Scaled Success Customer
&lt;{!frml_OpportunityRecordURL}|View Salesforce Record&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_No_RR_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Red Alert: Round Robin Assignment failed because no User was available. 
Assignment group: {!RoundRobinAssignmentGroup}
Account: {!Account_Record_Id}</text>
    </textTemplates>
    <textTemplates>
        <name>tt_PreSalesSEmessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account has been assigned to you. 
Link to the record in SFDC: https://circleinternetfinancial.lightning.force.com/lightning/r/Account/{!Account_Record_Id}/view</text>
    </textTemplates>
    <textTemplates>
        <description>message to SE channel when SE assignment failed</description>
        <name>tt_SE_Assignment_Failure</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An SE failed to be automatically added to the following opportunity, please add manually
Name: {!Get_Opportunity.Name}
&lt;{!frml_OpportunityRecordURL}|View Opportunity&gt;
Owner: {!Get_Opportunity.Owner_Name__c}
Owner Pillar: {!Get_Opportunity.Owner.Pillar__c}
Description: {!Get_Opportunity.Description}
Close Date: {!Get_Opportunity.CloseDate}</text>
    </textTemplates>
    <variables>
        <name>Account_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoundRobinAssignmentGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
