force-app/main/default/flows/Campaign_Member_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Checks to see if Campaign Member record is connected to a Lead or Contact?</description>
        <name>Is_Type_a_Lead_or_Contact</name>
        <label>Is Type a Lead or Contact?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <description>Campaign Member: AS</description>
    <environments>Default</environments>
    <interviewLabel>Campaign Member: AS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update the Last Salesforce Campaign field</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Salesforce_Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Last Salesforce Campaign field</description>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Salesforce_Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Type_a_Lead_or_Contact</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
