force-app/main/default/flows/Case_Screenflow_New_Child_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_New_Case_ID_For_Redirect</name>
        <label>Set New Case ID For Redirect</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_new_child_case_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Child_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Oldest_Email_On_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Case_ID_For_Redirect_2</name>
        <label>Set New Case ID For Redirect 2</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_new_child_case_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Child_Case_Don_t_Opt_Out</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_To_Child_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Email Exists, Clone To Child</description>
        <name>Check_If_Email_Exists</name>
        <label>Check If Email Exists</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Redirect_To_Child_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_Email_On_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Email_To_Child_Case</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Origin Is 3rd Party</description>
        <name>Check_If_Origin_Is_3rd_Party</name>
        <label>Check If Origin Is 3rd Party</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Child_Case_Don_t_Opt_Out</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Origin_is_3rd_Party_Look_for_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_Parent_Case_Out_Of_Survey</targetReference>
            </connector>
            <label>Origin is 3rd Party - Look for email</label>
        </rules>
    </decisions>
    <description>Case: Screenflow: New Child Case, add opt out of survey logic</description>
    <dynamicChoiceSets>
        <description>CaseOriginPicklist</description>
        <name>CaseOriginPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Case: Screenflow: New Child Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Screenflow: New Child Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Clone Email To Child Case</description>
        <name>Clone_Email_To_Child_Case</name>
        <label>Clone Email To Child Case</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Redirect_To_Child_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.HtmlBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.Incoming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Child_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Get_Oldest_Email_On_Case.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Child Case</description>
        <name>Create_Child_Case</name>
        <label>Create Child Case</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Set_New_Case_ID_For_Redirect</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Child_Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Child_Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Child Case Don&apos;t Opt Out Of Survey</description>
        <name>Create_Child_Case_Don_t_Opt_Out</name>
        <label>Create Child Case Don&apos;t Opt Out</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_New_Case_ID_For_Redirect_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Child_Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Survey__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Child_Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the initial case</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Child_Case_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Oldest Email On Case</description>
        <name>Get_Oldest_Email_On_Case</name>
        <label>Get Oldest Email On Case</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Email_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Opt Parent Case Out Of Survey</description>
        <name>Opt_Parent_Case_Out_Of_Survey</name>
        <label>Opt Parent Case Out Of Survey</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Child_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opt_Out_of_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Child_Case_Screen</name>
        <label>Create Child Case Screen</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_Origin_Is_3rd_Party</targetReference>
        </connector>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOriginPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.Origin</elementReference>
            </defaultValue>
            <fieldText>Child Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Child_Case_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.Subject</elementReference>
            </defaultValue>
            <fieldText>Child Case Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Child_Case_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.Description</elementReference>
            </defaultValue>
            <fieldText>Child Case Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_To_Child_Case</name>
        <label>Redirect To Child Case</label>
        <locationX>336</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectChildCase</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_new_child_case_id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_new_child_case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
