force-app/main/default/flows/Contact_BS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check If What Do You Plan To Build Set</description>
        <name>Check_If_What_Do_You_Want_To_Build_Set</name>
        <label>Check If What Do You Plan To Build Set</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>What_Do_You_Plan_To_Build_Changed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.What_Do_You_Plan_To_Build_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.What_Do_You_Plan_To_Build_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.What_Do_You_Plan_To_Build_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Translate_Multi_Select_To_String</targetReference>
            </connector>
            <label>What Do You Plan To Build Changed</label>
        </rules>
    </decisions>
    <description>Switch what do you plan to build to what do you plan to build category</description>
    <environments>Default</environments>
    <interviewLabel>Contact BS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Translate Multi Select To String</description>
        <name>Translate_Multi_Select_To_String</name>
        <label>Translate Multi Select To String</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>What_Do_You_Plan_To_Build_Text__c</field>
            <value>
                <elementReference>$Record.What_Do_You_Plan_To_Build_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_What_Do_You_Want_To_Build_Set</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
