force-app/main/default/flows/Contact_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Increment Counter</description>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>930</locationX>
        <locationY>6803</locationY>
        <assignmentItems>
            <assignToReference>var_work_email_contact_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts_2_to_count_work_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>reset work email counter</description>
        <name>reset_work_email_counter</name>
        <label>reset work email counter</label>
        <locationX>842</locationX>
        <locationY>6479</locationY>
        <assignmentItems>
            <assignToReference>var_work_email_contact_counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts_2_to_count_work_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Account Circle Mint Count</description>
        <name>Set_Account_Circle_Mint_Count</name>
        <label>Set Account Circle Mint Count</label>
        <locationX>709</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>var_account_circle_mint_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Level_Circle_Mint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_Of_Circle_Accounts_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Account Match Circle Mint Id</description>
        <name>Set_Account_Match_Circle_Mint_Id</name>
        <label>Set Account Match Circle Mint Id</label>
        <locationX>689</locationX>
        <locationY>3395</locationY>
        <assignmentItems>
            <assignToReference>var_account_match_circle_account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Matched_Account_Level_Circle_Mint.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_account_match_circle_mint_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Matched_Account_Level_Circle_Mint.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Matched_Account_Level_Circle_Mint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Contact Circle Mint Count</description>
        <name>Set_Contact_Circle_Mint_Count</name>
        <label>Set Contact Circle Mint Count</label>
        <locationX>1003</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>var_contact_match_circle_account_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_Circle_Mints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_Of_Contact_Match_Circle_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Contact Circle Mint Vars</description>
        <name>Set_Contact_Circle_Mint_Vars</name>
        <label>Set Contact Circle Mint Vars</label>
        <locationX>1169</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>var_contact_match_circle_mint_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Contact_Match_Circle_Mint_Variables.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_contact_match_circle_mint_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Contact_Match_Circle_Mint_Variables.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Contact_Match_Circle_Mint_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set DA Link On Related User</description>
        <name>Set_DA_Link_On_Related_User</name>
        <label>Set DA Link On Related User</label>
        <locationX>567</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_User_Record_If_It_Exists.Developer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Developer_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update work email counter var</description>
        <name>update_work_email_counter_var</name>
        <label>update work email counter var</label>
        <locationX>1062</locationX>
        <locationY>5687</locationY>
        <assignmentItems>
            <assignToReference>var_work_email_contact_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts_with_work_emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check For Circle Mint Link</description>
        <name>Check_For_Circle_Mint_Link</name>
        <label>Check For Circle Mint Link</label>
        <locationX>1238</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Developer_Account_Billing_Start_Date_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Circle_Entity_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Circle_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Authorized_Representative__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_Contact_To_Mint_If_Not_Set_Already</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Has Circle Entity Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Developer_Account_Link</name>
        <label>Check For Developer Account Link</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_For_Circle_Mint_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Has_Developer_Account_Entity_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Developer_Account_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_And_Account_Link_On_Developer_Account</targetReference>
            </connector>
            <label>Contact Has Developer Account Entity ID</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if contact has work email</description>
        <name>Check_if_contact_has_work_email</name>
        <label>Check if contact has work email</label>
        <locationX>1062</locationX>
        <locationY>6695</locationY>
        <defaultConnector>
            <targetReference>Loop_through_contacts_2_to_count_work_emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_contacts_2_to_count_work_emails.Is_the_a_work_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If contact legal entity name changed, and account name is not provided, update the account name</description>
        <name>Check_If_Contact_Legal_Entity_Name_Update_And_Account_Needs_Update</name>
        <label>Check If Contact Legal Entity Name Update And Account Needs Update</label>
        <locationX>1238</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Check_If_Developer_Account_User_ID_Is_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_Entity_Changed_Account_Name_Not_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Entity_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Entity_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>not provided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Name_To_Legal_Entity_Name</targetReference>
            </connector>
            <label>Legal Entity Changed, Account Name Not Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Contact Work Email Is changed</description>
        <name>Check_If_Contact_Work_Email_Is_Changed</name>
        <label>Check If Contact Work Email Is Changed</label>
        <locationX>1238</locationX>
        <locationY>5255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_contact_has_work_email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_the_a_work_email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Contact_Work_Email_Is_Yes</targetReference>
            </connector>
            <label>Yes, contact has work email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Contact Work Email Is Yes</description>
        <name>Check_If_Contact_Work_Email_Is_Yes</name>
        <label>Check If Contact Work Email Is Yes</label>
        <locationX>974</locationX>
        <locationY>5363</locationY>
        <defaultConnector>
            <targetReference>Update_prior_account_if_contact_account_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_account_needs_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_the_a_work_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_with_Business_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_With_Business_Email</targetReference>
            </connector>
            <label>Yes, account needs update</label>
        </rules>
        <rules>
            <name>No_account_needs_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_the_a_work_email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_with_Business_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contacts_To_See_If_Any_Have_Work_Email</targetReference>
            </connector>
            <label>No, account needs check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Date_of_Inside_Sales_Handoff_Is_Changed</name>
        <label>Check If Date of Inside Sales Handoff Is Changed</label>
        <locationX>1238</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>SDR_Follow_Up_Reminder_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_of_Inside_Sales_Handoff_Is_Changed_Send_Slack</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_of_Inside_Sales_Handoff__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Circle_Mints</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Date of Inside Sales Handoff Is Changed, Send Slack</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Developer Account User ID Is Set or the Developer Account Entity ID Is Set</description>
        <name>Check_If_Developer_Account_User_ID_Is_Set</name>
        <label>Check If Developer Account User ID Is Set</label>
        <locationX>1238</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Check_If_Date_of_Inside_Sales_Handoff_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_ID_DA_Set</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_ID_DA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.User_ID_DA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Developer_Account_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Developer_Account_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Developer_Account</targetReference>
            </connector>
            <label>User ID DA Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Related User Already Exists</description>
        <name>Check_If_Related_User_Already_Exists</name>
        <label>Check If Related User Already Exists</label>
        <locationX>787</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Create_Related_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Related User</defaultConnectorLabel>
        <rules>
            <name>Related_User_Exists_And_Needs_DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_User_Record_If_It_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_User_Record_If_It_Exists.Developer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DA_Link_On_Related_User</targetReference>
            </connector>
            <label>Related User Exists And Needs DA</label>
        </rules>
        <rules>
            <name>Related_User_Exists_And_Has_DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_User_Record_If_It_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_User_Record_If_It_Exists.Developer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Date_of_Inside_Sales_Handoff_Is_Changed</targetReference>
            </connector>
            <label>Related User Exists And Has DA</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Number Of Circle Accounts Found</description>
        <name>Check_Number_Of_Circle_Accounts_Found</name>
        <label>Check Number Of Circle Accounts Found</label>
        <locationX>709</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>SDR_Contact_Slack_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero Or More Than One Circle Mint Found</defaultConnectorLabel>
        <rules>
            <name>One_Circle_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_account_circle_mint_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matched_Account_Level_Circle_Mint</targetReference>
            </connector>
            <label>One Circle Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Number Of Contact Match Circle Accounts</description>
        <name>Check_Number_Of_Contact_Match_Circle_Accounts</name>
        <label>Check Number Of Contact Match Circle Accounts</label>
        <locationX>1003</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>SDR_Contact_Slack_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contact_match_circle_account_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Level_Circle_Mint</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contact_match_circle_account_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Match_Circle_Mint_Variables</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set field on Developer Account Level (will trigger metronome plan)</description>
        <name>Developer_Account_Billing_Start_Date_Set</name>
        <label>Developer Account Billing Start Date Set</label>
        <locationX>1238</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Check_If_Contact_Legal_Entity_Name_Update_And_Account_Needs_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Start_Date_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Start_Date_DA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_Start_Date_DA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Developer_Account_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Developer_Account_Billing_Start_Date</targetReference>
            </connector>
            <label>Billing Start Date Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Should_We_Update_Account_Alliance_Pgm_Members</name>
        <label>How Should We Update Account Alliance Pgm Members</label>
        <locationX>1238</locationX>
        <locationY>4547</locationY>
        <defaultConnector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_Submitted</targetReference>
            </connector>
            <label>Submitted, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>PDR_Review_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_PDR_Review</targetReference>
            </connector>
            <label>PDR Review, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>PDR_Qualified_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_PDR_Qualified</targetReference>
            </connector>
            <label>PDR Qualified, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>Compliance_Review_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_Compliance_Review</targetReference>
            </connector>
            <label>Compliance Review, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>Approved_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alliance_Program_Qualification_Information</targetReference>
            </connector>
            <label>Approved, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>PDR_Rejected_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_PDR_Rejected</targetReference>
            </connector>
            <label>PDR Rejected, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>Compliance_Rejected_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_Compliance_Rejected</targetReference>
            </connector>
            <label>Compliance Rejected, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>Terminated_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_Terminated</targetReference>
            </connector>
            <label>Terminated, Update Account Alliance Prog Application Status</label>
        </rules>
        <rules>
            <name>Recycled_Update_Account_Alliance_Prog_Application_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recycled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Alliance_Program_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Pgm_Application_Status_to_Recycled</targetReference>
            </connector>
            <label>Recycled, Update Account Alliance Prog Application Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Should_We_Update_Contact_Alliance_Pgm_Members</name>
        <label>How Should We Update Contact Alliance Pgm Members</label>
        <locationX>1238</locationX>
        <locationY>4247</locationY>
        <defaultConnector>
            <targetReference>How_Should_We_Update_Account_Alliance_Pgm_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Alliance_Prog_Submission</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>PDR_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Alliance_Prog_PDR_Qualification</targetReference>
            </connector>
            <label>PDR Qualified</label>
        </rules>
        <rules>
            <name>PDR_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PDR Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PDR_Rejected_Update_Date_of_Alliance_Program_Rejection</targetReference>
            </connector>
            <label>PDR Rejected</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Alliance_Program_Approval</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Compliance_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Alliance_Prog_Contact_Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Rejected_Update_Date_of_Alliance_Program_Rejection</targetReference>
            </connector>
            <label>Compliance Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there are not work emails, set account level field</description>
        <name>If_there_are_not_work_emails_set_account_level_field</name>
        <label>If there are not work emails, set account level field</label>
        <locationX>974</locationX>
        <locationY>5879</locationY>
        <defaultConnector>
            <targetReference>Update_Account_With_Business_Email_To_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contacts With Work Emails, Update</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_other_contacts_with_work_emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_work_email_contact_counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_prior_account_if_contact_account_changed</targetReference>
            </connector>
            <label>Yes, there are other contacts with work emails</label>
        </rules>
    </decisions>
    <decisions>
        <description>Proceed If Developer Account Exitsts</description>
        <name>Proceed_If_Developer_Account_Exitsts</name>
        <label>Proceed If Developer Account Exitsts</label>
        <locationX>1029</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Check_If_Date_of_Inside_Sales_Handoff_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Developer_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Developer_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_User_Record_If_It_Exists</targetReference>
            </connector>
            <label>Developer Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SDR_Follow_Up_Reminder_Updated</name>
        <label>SDR Follow Up Reminder Updated?</label>
        <locationX>1238</locationX>
        <locationY>3947</locationY>
        <defaultConnector>
            <targetReference>How_Should_We_Update_Contact_Alliance_Pgm_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_SDR_Follow_Up_Reminder_Timestamp</name>
            <conditionLogic>((1 AND 2) AND (3 OR 4 OR 5)) OR (3 AND (7 OR 8)) OR (4 AND (6 OR 8)) OR (5 AND (6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30 Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60 Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90 Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>30 Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60 Days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>90 Days</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SDR_Follow_Up_TimeStamp</targetReference>
            </connector>
            <label>Create SDR Follow Up Reminder Timestamp</label>
        </rules>
        <rules>
            <name>SDR_Follow_Up_Is_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SDR_Follow_Up_Reminder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_SDR_Follow_Up_Timestamp</targetReference>
            </connector>
            <label>SDR Follow Up Is Cleared</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update prior account if contact account changed</description>
        <name>Update_prior_account_if_contact_account_changed</name>
        <label>Update prior account if contact account changed</label>
        <locationX>974</locationX>
        <locationY>6263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contacts_Previous_Account_To_See_If_Any_Have_Work_Email</targetReference>
            </connector>
            <label>Account Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</name>
        <label>Was there a Wallet Signing Service Submission for a Target Acct?</label>
        <locationX>1238</locationX>
        <locationY>4955</locationY>
        <defaultConnector>
            <targetReference>Check_If_Contact_Work_Email_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wallet_Signing_Service_Submission_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wallet_Signing_Service_Submission_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Wallet_Signing_Service_Submission_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Target_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_BD_that_a_WSS_form_was_submitted</targetReference>
            </connector>
            <label>Wallet Signing Service Submission Date</label>
        </rules>
    </decisions>
    <description>Add back Attach Circle Mint Contact Code
Alliance Pgm update all Status Contact-&gt;Account
Update fields Date of Alliance Program Approval and PDR Qualification</description>
    <environments>Default</environments>
    <formulas>
        <name>ffml_sdr_slack</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.SDR_Owner__r.Id}), &apos;No SDR Set&apos;,
IF(ISBLANK({!$Record.Account.SDR_Owner__r.Circle_Slack_Channel_Id__c}),{!$Record.Account.SDR_Owner__r.FirstName} + &quot; &quot; + {!$Record.Account.SDR_Owner__r.LastName},&apos;&lt;@&apos;+{!$Record.Account.SDR_Owner__r.Circle_Slack_Channel_Id__c}+&apos;&gt;&apos;))</expression>
    </formulas>
    <formulas>
        <description>used to set account if contact link changes and recalculation was necessary</description>
        <name>frml_account_business_email</name>
        <dataType>String</dataType>
        <expression>IF({!var_work_email_contact_counter}&gt;0, &apos;YES&apos;, &apos;NO&apos;)</expression>
    </formulas>
    <formulas>
        <name>frml_account_match_circle_account</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!var_account_match_circle_account_id}</expression>
    </formulas>
    <formulas>
        <name>frml_accountURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.AccountId}</expression>
    </formulas>
    <formulas>
        <name>frml_circle_mint_name</name>
        <dataType>String</dataType>
        <expression>IF(
   {!var_contact_match_circle_account_count} = 1, {!var_contact_match_circle_mint_name},
   IF(
      {!var_account_circle_mint_count} = 1, {!var_account_match_circle_mint_name}, 
      &apos;&apos;
   )
)</expression>
    </formulas>
    <formulas>
        <name>frml_circle_mint_url</name>
        <dataType>String</dataType>
        <expression>IF(
   {!var_contact_match_circle_account_count} = 1, {!frml_contact_match_circle_account},
   IF(
      {!var_account_circle_mint_count} = 1, {!frml_account_match_circle_account}, 
      &apos;Undetermined Circle Mint Please View Contact / Account &apos;
   )
)</expression>
    </formulas>
    <formulas>
        <name>frml_contact_match_circle_account</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!var_contact_match_circle_mint_id}</expression>
    </formulas>
    <formulas>
        <name>frml_recordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Contact AS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: After Save</label>
    <loops>
        <description>Loop through contacts to count work emails</description>
        <name>Loop_through_contacts_2_to_count_work_emails</name>
        <label>Loop through contacts 2 to count work emails</label>
        <locationX>842</locationX>
        <locationY>6587</locationY>
        <collectionReference>Get_Account_Contacts_Previous_Account_To_See_If_Any_Have_Work_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_contact_has_work_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Previous_Account_With_Business_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through contacts with work emails</description>
        <name>Loop_through_contacts_with_work_emails</name>
        <label>Loop through contacts with work emails</label>
        <locationX>974</locationX>
        <locationY>5579</locationY>
        <collectionReference>Get_Account_Contacts_To_See_If_Any_Have_Work_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_work_email_counter_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_there_are_not_work_emails_set_account_level_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Set Contact Match Circle Mint Variables</description>
        <name>Set_Contact_Match_Circle_Mint_Variables</name>
        <label>Set Contact Match Circle Mint Variables</label>
        <locationX>1081</locationX>
        <locationY>2963</locationY>
        <collectionReference>Get_Contact_Circle_Mints</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Circle_Mint_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SDR_Contact_Slack_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Set Matched Account Level Circle Mint</description>
        <name>Set_Matched_Account_Level_Circle_Mint</name>
        <label>Set Matched Account Level Circle Mint</label>
        <locationX>601</locationX>
        <locationY>3287</locationY>
        <collectionReference>Get_Account_Level_Circle_Mint</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_Match_Circle_Mint_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SDR_Contact_Slack_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Related User</description>
        <name>Create_Related_User</name>
        <label>Create Related User</label>
        <locationX>1007</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Check_If_Date_of_Inside_Sales_Handoff_Is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Developer_Account__c</field>
            <value>
                <elementReference>Get_Developer_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Related_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Account Contacts Previous Account To See If Any Have Work Email</description>
        <name>Get_Account_Contacts_Previous_Account_To_See_If_Any_Have_Work_Email</name>
        <label>Get Account Contacts Previous Account To See If Any Have Work Email</label>
        <locationX>842</locationX>
        <locationY>6371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>reset_work_email_counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_the_a_work_email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Contacts To See If Any Have Work Email</description>
        <name>Get_Account_Contacts_To_See_If_Any_Have_Work_Email</name>
        <label>Get Account Contacts To See If Any Have Work Email</label>
        <locationX>974</locationX>
        <locationY>5471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contacts_with_work_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_the_a_work_email__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Account Level Circle Mint</description>
        <name>Get_Account_Level_Circle_Mint</name>
        <label>Get Account Level Circle Mint</label>
        <locationX>709</locationX>
        <locationY>2963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_Circle_Mint_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Circle_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Alliance_Program_Qualification_Information</name>
        <label>Get Alliance Program Qualification Information</label>
        <locationX>1106</locationX>
        <locationY>4655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Pgm_Application_Status_to_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Circle Mints</description>
        <name>Get_Contact_Circle_Mints</name>
        <label>Get Contact Circle Mints</label>
        <locationX>1003</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_Circle_Mint_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Circle_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Developer Account By Entity ID</description>
        <name>Get_Developer_Account</name>
        <label>Get Developer Account</label>
        <locationX>1029</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proceed_If_Developer_Account_Exitsts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Developer_Account_Entity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Developer_Account_Entity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Developer_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Related User Record If It Exists</description>
        <name>Get_Related_User_Record_If_It_Exists</name>
        <label>Get Related User Record If It Exists</label>
        <locationX>787</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Related_User_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Related_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Attach Contact To Mint If Not Set Already</description>
        <name>Attach_Contact_To_Mint_If_Not_Set_Already</name>
        <label>Attach Contact To Mint If Not Set Already</label>
        <locationX>1106</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Developer_Account_Billing_Start_Date_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Lookup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Circle_Entity_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Circle_Entity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Lookup__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Circle_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_SDR_Follow_Up_Timestamp</name>
        <label>Clear SDR Follow Up Timestamp</label>
        <locationX>1238</locationX>
        <locationY>4055</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Contact_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>SDR_Follow_Up_Reminder_Timestamp__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Compliance_Rejected_Update_Date_of_Alliance_Program_Rejection</name>
        <label>Compliance Rejected, Update Date of Alliance Program Rejection</label>
        <locationX>1634</locationX>
        <locationY>4355</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Account_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Rejection__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PDR_Rejected_Update_Date_of_Alliance_Program_Rejection</name>
        <label>PDR Rejected, Update Date of Alliance Program Rejection</label>
        <locationX>1106</locationX>
        <locationY>4355</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Account_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Rejection__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SDR_Follow_Up_TimeStamp</name>
        <label>SDR Follow Up TimeStamp</label>
        <locationX>974</locationX>
        <locationY>4055</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Contact_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>SDR_Follow_Up_Reminder_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set Contact And Account Link On Developer Account</description>
        <name>Set_Contact_And_Account_Link_On_Developer_Account</name>
        <label>Set Contact And Account Link On Developer Account</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_For_Circle_Mint_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Developer_Account_Entity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Developer_Account_Entity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Developer_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Developer Account Billing Start Date</description>
        <name>Set_Developer_Account_Billing_Start_Date</name>
        <label>Set Developer Account Billing Start Date</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Check_If_Contact_Legal_Entity_Name_Update_And_Account_Needs_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Developer_Account_Entity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Developer_Account_Entity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Start_Date__c</field>
            <value>
                <elementReference>$Record.Billing_Start_Date_DA__c</elementReference>
            </value>
        </inputAssignments>
        <object>Developer_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Name from not provided to the legal entity name on the contact</description>
        <name>Update_Account_Name_To_Legal_Entity_Name</name>
        <label>Update Account Name To Legal Entity Name</label>
        <locationX>1106</locationX>
        <locationY>1331</locationY>
        <connector>
            <targetReference>Check_If_Developer_Account_User_ID_Is_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Legal_Entity_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_Approved</name>
        <label>Update Account Pgm Application Status to Approved</label>
        <locationX>1106</locationX>
        <locationY>4763</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_you_currently_working_with_Circle__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Are_you_currently_working_with_Circle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Audience_Breakdown__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Audience_Breakdown__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Use_Case__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Customer_Use_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Government_Initiatives__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Government_Initiatives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Govt_Initiatives_Notes__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Govt_Initiatives_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Priority_Level_Tier__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Membership_Priority_Level_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Participating_on_behalf_of_a_Business__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Participating_on_behalf_of_a_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Type__c</field>
            <value>
                <stringValue>Circle Alliance Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Platform_Type__c</field>
            <value>
                <elementReference>Get_Alliance_Program_Qualification_Information.Platform_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_Compliance_Rejected</name>
        <label>Update Account Pgm Application Status to Compliance Rejected</label>
        <locationX>1634</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>Compliance Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_Compliance_Review</name>
        <label>Update Account Pgm Application Status to Compliance Review</label>
        <locationX>842</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>Compliance Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_PDR_Qualified</name>
        <label>Update Account Pgm Application Status to PDR Qualified</label>
        <locationX>578</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>PDR Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_PDR_Rejected</name>
        <label>Update Account Pgm Application Status to PDR Rejected</label>
        <locationX>1370</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>PDR Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_PDR_Review</name>
        <label>Update Account Pgm Application Status to PDR Review</label>
        <locationX>314</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>PDR Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_Recycled</name>
        <label>Update Account Pgm Application Status to Recycled</label>
        <locationX>2162</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>Recycled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_Submitted</name>
        <label>Update Account Pgm Application Status to Submitted</label>
        <locationX>50</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Pgm_Application_Status_to_Terminated</name>
        <label>Update Account Pgm Application Status to Terminated</label>
        <locationX>1898</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Was_there_a_Wallet_Signing_Service_Submission_for_a_Target_Acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Alliance_Program_Application_Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account With Business Email</description>
        <name>Update_Account_With_Business_Email</name>
        <label>Update Account With Business Email</label>
        <locationX>622</locationX>
        <locationY>5471</locationY>
        <connector>
            <targetReference>Update_prior_account_if_contact_account_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_with_Business_Email__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account With Business Email to No</description>
        <name>Update_Account_With_Business_Email_To_No</name>
        <label>Update Account With Business Email To No</label>
        <locationX>1062</locationX>
        <locationY>5987</locationY>
        <connector>
            <targetReference>Update_prior_account_if_contact_account_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_with_Business_Email__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Alliance_Prog_PDR_Qualification</name>
        <label>Update Date of Alliance Prog PDR Qualification</label>
        <locationX>842</locationX>
        <locationY>4355</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Account_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Alliance_Prog_PDR_Qualification__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Alliance_Prog_Submission</name>
        <label>Update Date of Alliance Prog Submission</label>
        <locationX>578</locationX>
        <locationY>4355</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Account_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Form_Submission__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Alliance_Program_Approval</name>
        <label>Update Date of Alliance Program Approval</label>
        <locationX>1370</locationX>
        <locationY>4355</locationY>
        <connector>
            <targetReference>How_Should_We_Update_Account_Alliance_Pgm_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Alliance_Program_Approval__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Previous Account With Business Email</description>
        <name>Update_Previous_Account_With_Business_Email</name>
        <label>Update Previous Account With Business Email</label>
        <locationX>842</locationX>
        <locationY>7079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_with_Business_Email__c</field>
            <value>
                <elementReference>frml_account_business_email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Related User</description>
        <name>Update_Related_User</name>
        <label>Update Related User</label>
        <locationX>567</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Check_If_Date_of_Inside_Sales_Handoff_Is_Changed</targetReference>
        </connector>
        <inputReference>Get_Related_User_Record_If_It_Exists</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Developer_Account_Link</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_BD_that_a_WSS_form_was_submitted</name>
        <label>Notify BD that a WSS form was submitted</label>
        <locationX>1106</locationX>
        <locationY>5063</locationY>
        <connector>
            <targetReference>Check_If_Contact_Work_Email_Is_Changed</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_BD_notification_wss_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Account.Business_Development_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SDR_Contact_Slack_Message</name>
        <label>SDR Contact Slack Message</label>
        <locationX>1003</locationX>
        <locationY>3755</locationY>
        <connector>
            <targetReference>SDR_Follow_Up_Reminder_Updated</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <stringValue>C06S6L1T8E5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_sdr_notification</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_BD_notification_wss_submitted</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Wallet Signing Service Questionnaire has just been submitted. Please complete the follow-up task.
Contact: &lt;{!frml_recordURL}|{!$Record.FirstName} {!$Record.LastName}&gt;
When will your product go live: {!$Record.When_will_your_product_go_live__c}
Specific Use Case: {!$Record.Specific_Use_Case__c}
Users Onboarding Within First 6 Months: {!$Record.Users_Onboarding_Within_First_6_Months__c}
The full questionnaire data can be found &lt;https://docs.google.com/spreadsheets/d/1OX5cJMPQ3h88gqOJtUuqfjzqDtoL4944kqAAzUdLv84/edit#gid=530221522| here&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_sdr_notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please approve this Mint application in Diameter. This application is an approved Nature of Business and 100k+ Minting Volume.
SDR Owner Name: {!ffml_sdr_slack}
Account: &lt;{!frml_accountURL}|{!$Record.Account.Name}&gt;
Contact: &lt;{!frml_recordURL}|{!$Record.FirstName} {!$Record.LastName}&gt;
Email Address: {!$Record.Email}
Diameter link: {!$Record.Diameter_URL__c}
Circle Mint: &lt;{!frml_circle_mint_url}|{!frml_circle_mint_name}&gt;</text>
    </textTemplates>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_account_circle_mint_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_account_match_circle_account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_account_match_circle_mint_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_contact_match_circle_account_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_contact_match_circle_mint_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_contact_match_circle_mint_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>track if there are contacts with work emails on the account</description>
        <name>var_work_email_contact_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
