force-app/main/default/flows/cybavo_customer_satisfaction_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_aad8d333_2c26_4ff8_bdc1_e29f300f66a5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_d0eea09d_5de4_49b6_8f76_829466dce13f</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_3481e13a_9e10_458e_a4f0_00ed5fd47601</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f3fa20af_819a_4d10_a5cf_accac218d7c5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a30df209_6a45_4a3c_908c_d24396136064</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ea398ca8_2a30_4501_a347_ffffb74ff337</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_aad8d333_2c26_4ff8_bdc1_e29f300f66a5</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_003d56c2_39d2_4e45_b391_deaeb4792cc1</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0d68d454_89d0_4c42_a007_69cda5788f3c</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0efac47d_1881_42a1_85bd_f33cad534ea1</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_36795a64_5ae7_4f28_9ba8_5be070b47938</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_387ebd20_044f_4f63_87b8_fcb10e0662b0</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3dafe6dd_fd48_46b3_8264_08075a82c5e7</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6ec3af59_dc26_4899_a4fe_f55f86b1f92e</name>
        <choiceText>Mostly the result of a user error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mostly the result of a user error</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6fb458f6_ca91_4378_9fc7_2446b4c26f00</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_706d28a1_53ae_4806_83c0_056f2f7be6aa</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_89827f32_e00e_4069_81ac_3f35c12f86d7</name>
        <choiceText>A combination of factors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A combination of factors</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b9ceee21_e285_49a1_b4cf_22d276440348</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d2453269_49aa_4a1d_a5e2_19c7777f96f8</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e640ea70_2b0c_4a01_b08a_1c49f539c207</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_edba8fd6_49eb_43c8_b140_8f02e902ac9c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f266a037_7f7b_4995_b677_7762277fa564</name>
        <choiceText>Mostly the result of Cybavo&apos;s error or miscommunication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mostly the result of Cybavo&apos;s error or miscommunication</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f3ca634f_b01d_45ae_92f1_2679a76d67ce</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fd23944d_cb37_4739_85fb_c25ddbc6fd2b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Cybavo Customer Satisfaction Survey</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cybavo Customer Satisfaction Survey</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Cybavo No Reply &lt;no-reply@cybavo.com&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_SurveyQuestion</name>
        <value>
            <stringValue>q_22ff54ac_94d8_45c2_86d4_421406090d14</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_3481e13a_9e10_458e_a4f0_00ed5fd47601</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f3fa20af_819a_4d10_a5cf_accac218d7c5</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7a76d2a3_a4a9_453b_8f01_6208d45d255d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_7a76d2a3_a4a9_453b_8f01_6208d45d255d</name>
            <choiceReferences>c_706d28a1_53ae_4806_83c0_056f2f7be6aa</choiceReferences>
            <choiceReferences>c_edba8fd6_49eb_43c8_b140_8f02e902ac9c</choiceReferences>
            <choiceReferences>c_0d68d454_89d0_4c42_a007_69cda5788f3c</choiceReferences>
            <choiceReferences>c_b9ceee21_e285_49a1_b4cf_22d276440348</choiceReferences>
            <choiceReferences>c_0efac47d_1881_42a1_85bd_f33cad534ea1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;How would you rate your experience with the Customer Care Representative you engaged with on a scale of 1-5, with 5 being the highest rating and 1 being the lowest? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a30df209_6a45_4a3c_908c_d24396136064</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ea398ca8_2a30_4501_a347_ffffb74ff337</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3d551f1b_48e9_41f6_9490_1427c7db5c95</name>
            <choiceReferences>c_3dafe6dd_fd48_46b3_8264_08075a82c5e7</choiceReferences>
            <choiceReferences>c_d2453269_49aa_4a1d_a5e2_19c7777f96f8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Before contacting support, did you try resolving your issue on &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; font-family: Arial;&quot;&gt;Cybavo&lt;/span&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;&apos;s Help Center (&lt;/span&gt;&lt;a href=&quot;https://support.cybavo.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif;&quot;&gt;https://support.cybavo.com/&lt;/a&gt;&lt;strong style=&quot;font-size: 11pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;)?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_aad8d333_2c26_4ff8_bdc1_e29f300f66a5</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d0eea09d_5de4_49b6_8f76_829466dce13f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_692fb720_4cc4_49c8_b637_2c9ac68510ae</name>
            <choiceReferences>c_36795a64_5ae7_4f28_9ba8_5be070b47938</choiceReferences>
            <choiceReferences>c_f3ca634f_b01d_45ae_92f1_2679a76d67ce</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Was your issue answered or resolved?&lt;/span&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d0eea09d_5de4_49b6_8f76_829466dce13f</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_3481e13a_9e10_458e_a4f0_00ed5fd47601</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_22ff54ac_94d8_45c2_86d4_421406090d14_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_22ff54ac_94d8_45c2_86d4_421406090d14</name>
            <choiceReferences>c_387ebd20_044f_4f63_87b8_fcb10e0662b0</choiceReferences>
            <choiceReferences>c_6fb458f6_ca91_4378_9fc7_2446b4c26f00</choiceReferences>
            <choiceReferences>c_fd23944d_cb37_4739_85fb_c25ddbc6fd2b</choiceReferences>
            <choiceReferences>c_e640ea70_2b0c_4a01_b08a_1c49f539c207</choiceReferences>
            <choiceReferences>c_003d56c2_39d2_4e45_b391_deaeb4792cc1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial;&quot;&gt;How helpful was the Cybavo Customer Care Team in resolving your issue on a scale of 1-5, with 5 being the highest rating and 1 being the lowest? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ea398ca8_2a30_4501_a347_ffffb74ff337</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_db516020_a3e1_41be_ae6b_12c5eda4259c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial;&quot;&gt;Do you have any feedback for the Head of Customer Experience regarding our services or product?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f3fa20af_819a_4d10_a5cf_accac218d7c5</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a30df209_6a45_4a3c_908c_d24396136064</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a19dabe6_b4d8_43ec_a36f_a384eca34051</name>
            <choiceReferences>c_6ec3af59_dc26_4899_a4fe_f55f86b1f92e</choiceReferences>
            <choiceReferences>c_f266a037_7f7b_4995_b677_7762277fa564</choiceReferences>
            <choiceReferences>c_89827f32_e00e_4069_81ac_3f35c12f86d7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Would you say the issue you experienced was:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Thanks in advance for taking the time to respond. Please feel free to reach out to me directly at any time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Simon Walker&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Head of Customer Experience&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;Circle&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_22ff54ac_94d8_45c2_86d4_421406090d14_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7a76d2a3_a4a9_453b_8f01_6208d45d255d_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
