force-app/main/default/flows/Developer_Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Update Related User Link</description>
        <name>Update_Related_User_Link</name>
        <label>Update Related User Link</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_User.Developer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check If Related User Exists And Has DA Link</description>
        <name>Check_If_Related_User_Exists_And_Has_DA_Link</name>
        <label>Check If Related User Exists And Has DA Link</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Related_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need To Create Related user</defaultConnectorLabel>
        <rules>
            <name>Related_User_Exists_Needs_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_User.Developer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_User_Link</targetReference>
            </connector>
            <label>Related User Exists, Needs Link</label>
        </rules>
        <rules>
            <name>Related_User_Exists_Already_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_User.Developer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Related User Exists, Already Linked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Entity ID Set, Check For Related User</description>
        <name>Entity_ID_Set_Check_For_Related_User</name>
        <label>Entity ID Set, Check For Related User</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entity_ID_Or_Contact_Linked</name>
            <conditionLogic>1 AND 3 AND 5 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Developer_Account_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Developer_Account_Entity_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.User_ID_DA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_User</targetReference>
            </connector>
            <label>Entity ID Or Contact Linked</label>
        </rules>
    </decisions>
    <description>Developer Account: After Save (create related user)</description>
    <environments>Default</environments>
    <interviewLabel>Developer Account: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Account: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Related User</description>
        <name>Create_Related_User</name>
        <label>Create Related User</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Developer_Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Related_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_User</name>
        <label>Get Related User</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Related_User_Exists_And_Has_DA_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Related_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Related User Record</description>
        <name>Update_Related_User_Record</name>
        <label>Update Related User Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Related_User</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entity_ID_Set_Check_For_Related_User</targetReference>
        </connector>
        <object>Developer_Account__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
