force-app/main/default/flows/Manage_Portal_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Check If Email Is verified</description>
        <name>Check_If_Email_Is_verified</name>
        <label>Check If Email Is verified</label>
        <locationX>567</locationX>
        <locationY>458</locationY>
        <actionName>InvokeCheckPortalUserEmailVerified</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_User_Is_Active</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>portalUserId</name>
            <value>
                <elementReference>Get_Existing_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvokeCheckPortalUserEmailVerified</nameSegment>
        <outputParameters>
            <assignToReference>var_portal_email_verified</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Screen</name>
        <label>Refresh Screen</label>
        <locationX>567</locationX>
        <locationY>1790</locationY>
        <actionName>c:cmp_NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cmp_NavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Portal User Email Verification</description>
        <name>Send_Portal_User_Email_Verification</name>
        <label>Send Portal User Email Verification</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <actionName>InvokePortalUserEmailVerification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Display_Text_To_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>portalUserId</name>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvokePortalUserEmailVerification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Portal User Email Verification</description>
        <name>Send_Portal_User_Email_Verification_2</name>
        <label>Send Portal User Email Verification</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <actionName>InvokePortalUserEmailVerification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refresh_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>portalUserId</name>
            <value>
                <elementReference>Get_Existing_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvokePortalUserEmailVerification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Should be sending another verification email</description>
        <name>Should_be_sending_another_verification_email</name>
        <label>Should be sending another verification email</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Portal_User_Email_Verification_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Should be sending another verification email</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowDebugLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Error_Display_Text_To_Error</name>
        <label>Set Error Display Text - To Error</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varErrorDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Display_Text_Username_Exists</name>
        <label>Set Error Display Text - Username Exists</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varErrorDisplayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>That Username is already used for another user. Please change the Email address to a different Value</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set User Isactive To False</description>
        <name>Set_User_Isactive_To_False</name>
        <label>Set User Isactive To False</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_User.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Activation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set User Isactive To True</description>
        <name>Set_User_Isactive_To_True</name>
        <label>Set User Isactive To True</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_User.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_User_Activation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Contact_User_Status</name>
        <label>Check Contact User Status</label>
        <locationX>902</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Enable_Community_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Exists</defaultConnectorLabel>
        <rules>
            <name>User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Email_Is_verified</targetReference>
            </connector>
            <label>User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Reactivated And Email Is Not Verified</description>
        <name>Check_if_Reactivated_And_Email_Is_Not_Verified</name>
        <label>Check if Reactivated And Email Is Not Verified</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Refresh_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_User_Isactive_To_True</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_portal_email_verified</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_be_sending_another_verification_email</targetReference>
            </connector>
            <label>Reactivated?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If User Is Active</description>
        <name>Check_If_User_Is_Active</name>
        <label>Check If User Is Active</label>
        <locationX>567</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Inactive_Portal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Portal_User</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deactivate</name>
        <label>Deactivate</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Refresh_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreYouSureSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Isactive_To_False</targetReference>
            </connector>
            <label>Yes - Deactivate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reactivate</name>
        <label>Reactivate?</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Refresh_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_reactivate_this_user</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Isactive_To_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Username_Already_Exists</name>
        <label>Username Already Exists</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Portal_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No  - Username Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Username_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Username.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Display_Text_Username_Exists</targetReference>
            </connector>
            <label>Yes - Username Already Exists</label>
        </rules>
    </decisions>
    <description>Use current date in flow user nickname</description>
    <environments>Default</environments>
    <formulas>
        <name>AliasFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Current_Contact.FirstName}, 1) + LEFT({!Get_Current_Contact.LastName},7)</expression>
    </formulas>
    <formulas>
        <description>Determines if the Record is a Person Account or Contact</description>
        <name>frmAccountorContact</name>
        <dataType>String</dataType>
        <expression>If(left({!recordId},3)=&apos;003&apos;,&quot;Contact&quot;,&quot;Account&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmInputJSON</name>
        <dataType>String</dataType>
        <expression>&apos;{&apos; &amp;
&apos;&quot;UserId&quot;: &quot;&apos; &amp; {!Get_Existing_User.Id} &amp; &apos;&quot; &apos; &amp;
&apos;}&apos;</expression>
    </formulas>
    <formulas>
        <description>trims the nickname to 40 characters for user creation</description>
        <name>NickNameFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Current_Contact.FirstName}, 1) + LEFT({!Get_Current_Contact.LastName},4) + &apos;-&apos; + text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Manage Portal User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Portal User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Send_Portal_User_Email_Verification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Display_Text_To_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>AliasFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>NickNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_Portal_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Username</name>
        <label>Check for Existing Username</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Username_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact</name>
        <label>Get Current Contact</label>
        <locationX>902</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User</name>
        <label>Get Existing User</label>
        <locationX>902</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_User_Status</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Profile</name>
        <label>Get Portal Profile</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPortalProfileName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update User Activation</description>
        <name>Update_User_Activation</name>
        <label>Update User Activation</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Check_if_Reactivated_And_Email_Is_Not_Verified</targetReference>
        </connector>
        <inputReference>Get_Existing_User</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Active_Portal_User</name>
        <label>Active Portal User</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Are_you_sure</targetReference>
        </connector>
        <fields>
            <name>alreadyuser</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Contact is an active portal user:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Username: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Username}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;User ID: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Profile: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Profile.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Portal Email Verified? : &lt;/strong&gt;{!var_portal_email_verified}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Deactivate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_you_sure</name>
        <label>Are you sure?</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deactivate</targetReference>
        </connector>
        <fields>
            <name>AreYouSureSelection</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to deactivate {!Get_Current_Contact.Name} as a portal user?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enable_Community_User</name>
        <label>Enable Community User</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Existing_Username</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;To enable this Contact as a Portal User, please make sure that:&lt;/b&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;The Contact has first and last name filled out&lt;/li&gt;&lt;li&gt;The Contact has an email address&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Contact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Current_Contact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Current_Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Enable_Community_User</targetReference>
        </connector>
        <fields>
            <name>errortxt</name>
            <fieldText>&lt;p&gt;{!varErrorDisplayText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inactive_Portal_User</name>
        <label>Inactive Portal User</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reactivate</targetReference>
        </connector>
        <fields>
            <name>alreadyuser_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Contact is an inactive portal user.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Username: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Username}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;User ID: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Profile: &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Existing_User.Profile.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Active: &lt;/strong&gt;{!Get_Existing_User.IsActive}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_reactivate_this_user</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to reactivate this user?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;﻿Reactivating the user will take up to 2 minutes.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_reactivate_this_user</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successdisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Success, the Contact has been enabled as a Portal User!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>776</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact ID for the New User</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>check if portal email verified</description>
        <name>var_portal_email_verified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set this to find the Portal Users Profile Id</description>
        <name>varPortalProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Circle Support Community Login User</stringValue>
        </value>
    </variables>
</Flow>
