force-app/main/default/flows/Metronome_Add_Plan_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Add Plan To Customer metronome api call</description>
        <name>Add_Plan_To_Customer</name>
        <label>Add Plan To Customer</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <actionName>MetronomeAPI.addPlanToCustomer</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_If_Plan_Added_Successfully</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customer_id</name>
            <value>
                <elementReference>var_customer_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>var_add_plan_to_customer_payload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MetronomeAPI.addPlanToCustomer</nameSegment>
        <outputParameters>
            <assignToReference>var_add_plan_to_customer_200</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_add_plan_response</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_add_plan_exception</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>List customers metronome api call</description>
        <name>ListCustomers</name>
        <label>ListCustomers</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <actionName>MetronomeAPI.listCustomers</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_For_List_Customers_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>limit</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ingest_alias</name>
            <value>
                <elementReference>var_developer_account.Developer_Account_Entity_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MetronomeAPI.listCustomers</nameSegment>
        <outputParameters>
            <assignToReference>var_list_customers_200</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_list_customers_response_code</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_list_customers_exception</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Add Standard Plan</description>
        <name>Add_Standard_Plan</name>
        <label>Add Standard Plan</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>var_add_plan_to_customer_payload.planx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>750c3d76-44be-4f5a-a1f7-11ff3934879a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_add_plan_to_customer_payload.startingx5fon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_developer_account.Billing_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Plan_To_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Customer Variables</description>
        <name>Set_Customer_Variables</name>
        <label>Set Customer Variables</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_customer_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_List_Customers_Response_Data.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_customer_found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_List_Customers_Response_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Developer Account Metronome Plan Added</description>
        <name>Set_Developer_Account_Metronome_Plan_Added</name>
        <label>Set Developer Account Metronome Plan Added</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>var_developer_account.Metronome_Plan_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Developer_Account_Metronome_Plan_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Retry Flag</description>
        <name>Set_Retry_Flag</name>
        <label>Set Retry Flag</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_developer_account.Retry_Metronome_Send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Schedule_Retry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check For List Customers Success</description>
        <name>Check_For_List_Customers_Success</name>
        <label>Check For List Customers Success</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Send_Metronome_Failure_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_list_customers_response_code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_List_Customers_Response_Data</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Customer Found</description>
        <name>Check_If_Customer_Found</name>
        <label>Check If Customer Found</label>
        <locationX>600</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_List_Customers_Response_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_List_Customers_Response_Data.id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Variables</targetReference>
            </connector>
            <label>Customer Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Customer Found Add Plan</description>
        <name>Check_If_Customer_Found_Add_Plan</name>
        <label>Check If Customer Found Add Plan</label>
        <locationX>380</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Metronome_Failure_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Found_Add_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_customer_found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Standard_Plan</targetReference>
            </connector>
            <label>Customer Found Add Plan</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Plan Added Successfully</description>
        <name>Check_If_Plan_Added_Successfully</name>
        <label>Check If Plan Added Successfully</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_Metronome_Failure_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Plan_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_add_plan_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_add_plan_to_customer_200.data.id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Metronome_Plan_Id</targetReference>
            </connector>
            <label>Add Plan Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>If First Failure, Attempt Retry</description>
        <name>If_First_Failure_Attempt_Retry</name>
        <label>If First Failure, Attempt Retry</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attempt_Retry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_developer_account.Retry_Metronome_Send__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Retry_Flag</targetReference>
            </connector>
            <label>Attempt Retry</label>
        </rules>
    </decisions>
    <description>Slack Custom Setting</description>
    <environments>Default</environments>
    <formulas>
        <description>billing start date</description>
        <name>frml_billing_start_date</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!var_developer_account.Billing_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <description>check if attempt is retry</description>
        <name>frml_is_retry</name>
        <dataType>String</dataType>
        <expression>IF({!var_developer_account.Retry_Metronome_Send__c}, &quot;(This Was The Final Retry Attempt And Will Require Manual Intervention)&quot;,&quot;(Initial Attempt, This Will Be Retried In 24 Hours)&quot;)</expression>
    </formulas>
    <formulas>
        <description>now</description>
        <name>frml_now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <description>record url</description>
        <name>frml_record_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!var_developer_account.Id}</expression>
    </formulas>
    <interviewLabel>Metronome: Add Plan: Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Metronome: Add Plan: Subflow</label>
    <loops>
        <description>Loop List Customers Response Data</description>
        <name>Loop_List_Customers_Response_Data</name>
        <label>Loop List Customers Response Data</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <collectionReference>var_list_customers_200.data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Customer_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Customer_Found_Add_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Schedule Retry</description>
        <name>Schedule_Retry</name>
        <label>Schedule Retry</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <inputReference>var_developer_account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Metronome Plan Id</description>
        <name>Update_Account_Metronome_Plan_Id</name>
        <label>Update Account Metronome Plan Id</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Set_Developer_Account_Metronome_Plan_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_developer_account.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Metronome_Customer_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Metronome_Customer_ID__c</field>
            <value>
                <elementReference>var_customer_id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Developer Account Metronome Plan Added</description>
        <name>Update_Developer_Account_Metronome_Plan_Added</name>
        <label>Update Developer Account Metronome Plan Added</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <inputReference>var_developer_account</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ListCustomers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send Metronome Failure Alert</description>
        <name>Send_Metronome_Failure_Alert</name>
        <label>Send Metronome Failure Alert</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>If_First_Failure_Attempt_Retry</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.metronome_alerts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_developer_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_metronome_slack_message</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>metronome slack message</description>
        <name>tt_metronome_slack_message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Metronome Plan Failed To Attach To A Developer Account! {!frml_is_retry}
Please confirm this customer exists in metronome and add the appropriate plan
&lt;{!frml_record_url}|{!var_developer_account.Name}&gt;</text>
    </textTemplates>
    <variables>
        <description>add plan exception</description>
        <name>var_add_plan_exception</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>add plan response</description>
        <name>var_add_plan_response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>add plan to customer api call response</description>
        <name>var_add_plan_to_customer_200</name>
        <apexClass>ExternalService__MetronomeAPI_addPlanToCustomer_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>add plan payload</description>
        <name>var_add_plan_to_customer_payload</name>
        <apexClass>ExternalService__MetronomeAPI_AddPlanToCustomerPayload</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_customer_found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>customer found</description>
        <name>var_customer_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The developer account</description>
        <name>var_developer_account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Developer_Account__c</objectType>
    </variables>
    <variables>
        <description>200 response from list customers</description>
        <name>var_list_customers_200</name>
        <apexClass>ExternalService__MetronomeAPI_listCustomers_OUT_200</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List customers exception</description>
        <name>var_list_customers_exception</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>response code from list customers</description>
        <name>var_list_customers_response_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
