force-app/main/default/flows/Opportunity_Async_SLA_Violation_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Opportunity: Async: SLA Violation Notifications</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_recordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Opportunity: Async: SLA Violation Notificaiotns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Async: SLA Violation Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_SLA_Field</name>
        <label>Reset SLA Field</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Send_Compliance_SLA_Notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Compliance_SLA_Notification__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Compliance_Analyst__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Send_Compliance_SLA_Violation_Message_To_Analyst</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send Compliance SLA Violation Message To Analyst</description>
        <name>Send_Compliance_SLA_Violation_Message_To_Analyst</name>
        <label>Send Compliance SLA Violation Message To Analyst</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Send_Compliance_SLA_Violation_Message_To_Analyst_Manager</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_compliance_SLA_Notification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Compliance_Analyst__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Send Compliance SLA Violation Message To Analyst Manager</description>
        <name>Send_Compliance_SLA_Violation_Message_To_Analyst_Manager</name>
        <label>Send Compliance SLA Violation Message To Analyst Manager</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Reset_SLA_Field</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_compliance_SLA_Notification_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Compliance_Analyst__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_compliance_SLA_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Compliance SLA Alert!
Your opportunity has violated the 72 hour SLA for Pending with AML
&lt;{!frml_recordURL}|View Salesforce Record&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_compliance_SLA_Notification_Manager</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Compliance SLA Alert!
An opportunity has violated the 72 hour SLA for Pending with AML
Compliance Analyst: {!$Record.Compliance_Analyst__r.FirstName} {!$Record.Compliance_Analyst__r.LastName}
&lt;{!frml_recordURL}|View Salesforce Record&gt;</text>
    </textTemplates>
</Flow>
