force-app/main/default/flows/Opportunity_Closed_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Set Error Message</description>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>If the Closed Lost Reason is &quot;Other&quot; then Closed Lost Reason Detail is required. Please fill in the appropriate fields then click next.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Closed_Lost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Validate Closed Lost Reason - Other</description>
        <name>Validate_Closed_Lost_Reason_Other</name>
        <label>Validate Closed Lost Reason - Other</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_To_Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reason_Other_Details_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Lost_Reason_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClosedLostDetailBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>Reason Other, Details Blank</label>
        </rules>
    </decisions>
    <description>Opportunity Closed Lost</description>
    <dynamicChoiceSets>
        <description>Closed Lost Picklist On Opportunity</description>
        <name>ClosedLostPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closed_Lost_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Check if closed lost detail is blank</description>
        <name>ClosedLostDetailBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Closed_Lost_Detail})</expression>
    </formulas>
    <interviewLabel>Opportunity Closed Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Screenflow: Closed Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update Opportunity To Closed Lost</description>
        <name>Update_Opportunity_To_Closed_Lost</name>
        <label>Update Opportunity To Closed Lost</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Lost_Reason_Detail__c</field>
            <value>
                <elementReference>Closed_Lost_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Reason__c</field>
            <value>
                <elementReference>Closed_Lost_Reason_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Closed_Lost</name>
        <label>Closed Lost</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Closed_Lost_Reason_Other</targetReference>
        </connector>
        <fields>
            <name>Closed_Lost_Reason_picklist</name>
            <choiceReferences>ClosedLostPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Closed Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Lost_Detail</name>
            <fieldText>Closed Lost Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessageText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ErrorMessageText</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Closed_Lost</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds Apex Error Message</description>
        <name>ErrorMessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
