force-app/main/default/flows/Opportunity_Async_Unlock_After_Approval_Starts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Record Lock Status</description>
        <name>Get_Record_Lock_Status</name>
        <label>Get Record Lock Status</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>GetRecordLockStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Record_Is_Locked</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordLockStatus</nameSegment>
        <outputParameters>
            <assignToReference>var_lock_status</assignToReference>
            <name>locked</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Unlock Record After Approval Process Locks It</description>
        <name>Unlock_Record_After_Approval_Process_Locks_It</name>
        <label>Unlock Record After Approval Process Locks It</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>UnlockRecord</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UnlockRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_If_Record_Is_Locked</name>
        <label>Check If Record Is Locked</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Unlock_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_lock_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Record_After_Approval_Process_Locks_It</targetReference>
            </connector>
            <label>Yes, Unlock Record</label>
        </rules>
    </decisions>
    <description>Opportunity: Async: Unlock After Approval Starts</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Async: Unlock After Approval Starts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Async: Unlock After Approval Starts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Kash_Product_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Compliance_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricing_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>DRG_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Record_Lock_Status</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_lock_status</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
