force-app/main/default/flows/Opportunity_Screenflow_Update_Opp_During_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Update Opportunity Avoid Lock</description>
        <name>Update_Opportunity_Avoid_Lock</name>
        <label>Update Opportunity Avoid Lock</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>InvokeUpdateOpportunityDuringApproval</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opps</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvokeUpdateOpportunityDuringApproval</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Set Formula Values On Opportunity</description>
        <name>Set_Formula_Values_On_Opportunity</name>
        <label>Set Formula Values On Opportunity</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Solution_Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_solution_document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Memo_of_Understanding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_mou_url</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Deal_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_deal_sheet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Projected_Stablecoin_On_Platform_Growth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_projected_stablecoin_on_platform_growth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Projected_Total_Stablecoin_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_projected_total_stablecoin_volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Projected_Minting_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_projected_minting_volume</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Avoid_Lock</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check If User Has Access to update the opportunity</description>
        <name>Check_If_User_Has_Access</name>
        <label>Check If User Has Access</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>((1 OR 7) AND 2) OR 3 OR 4 OR 5 OR 6</conditionLogic>
            <conditions>
                <leftValueReference>frml_profile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frml_current_user_id_safe</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frml_profile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frml_profile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Solution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frml_profile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frml_profile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>frml_profile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Add SE Demo Completed</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_amount</name>
        <dataType>Currency</dataType>
        <expression>IF(!ISBLANK({!Amount}),{!Amount},{!Get_Opportunity.Amount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frml_current_user_id_safe</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>frml_deal_sheet</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!DealSheet.value}),{!DealSheet.value},{!Get_Opportunity.Deal_Sheet__c})</expression>
    </formulas>
    <formulas>
        <name>frml_mou_url</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!MemoOfUnderstanding.value}),{!MemoOfUnderstanding.value},{!Get_Opportunity.Memo_of_Understanding__c})</expression>
    </formulas>
    <formulas>
        <name>frml_profile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>frml_projected_minting_volume</name>
        <dataType>Currency</dataType>
        <expression>IF(!ISBLANK({!Projected_Minting_Volume}),{!Projected_Minting_Volume},{!Get_Opportunity.Projected_Minting_Volume__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frml_projected_stablecoin_on_platform_growth</name>
        <dataType>Currency</dataType>
        <expression>IF(!ISBLANK({!Projected_Stablecoin_On_Platform_Growth}),{!Projected_Stablecoin_On_Platform_Growth},{!Get_Opportunity.Projected_Stablecoin_On_Platform_Growth__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frml_projected_total_stablecoin_volume</name>
        <dataType>Currency</dataType>
        <expression>IF(!ISBLANK({!Projected_Total_Stablecoin_Volume}),{!Projected_Total_Stablecoin_Volume},{!Get_Opportunity.Projected_Total_Stablecoin_Volume__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>frml_solution_document</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!SolutionDocument.value}),{!SolutionDocument.value},{!Get_Opportunity.Solution_Document__c})</expression>
    </formulas>
    <interviewLabel>Opportunity: Screenflow: Update Opp During Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Screenflow: Update Opp During Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_User_Has_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Access</name>
        <label>No Access</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(202, 26, 26);&quot;&gt;You do not have access to update this opportunity. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(202, 26, 26);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please reach out to help-crm in slack if you need to update the record while it is locked in an approval. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Set_Formula_Values_On_Opportunity</targetReference>
        </connector>
        <fields>
            <name>UpdateOpportunityText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Update Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Objective__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Hypothesis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Risks_Dependencies__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Method__c</objectFieldReference>
                </fields>
                <fields>
                    <name>DealSheet</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Partnership Construct (URL)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>.*</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Opportunity.Deal_Sheet__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Success_Metrics__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Monthly_Active_Users__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>MEWs</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Projected_MeWs_Growth__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>MEWs</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.MeW_Timeframe_in_months__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>MEWs</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Stablecoin_On_Platform_Growth</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Projected_Stablecoin_On_Platform_Growth__c</elementReference>
                    </defaultValue>
                    <fieldText>Projected Stablecoin On Platform Growth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>USDC on Platform</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Stablecoin_On_Pltfrm_Timeframe_months__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>USDC on Platform</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Total_Stablecoin_Volume</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Projected_Total_Stablecoin_Volume__c</elementReference>
                    </defaultValue>
                    <fieldText>Projected Total Stablecoin Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Transaction Volume</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Stablecoin_Volume_Timeframe_in_months__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Transaction Volume</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Success_Metrics_Details__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Success_Metrics__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Success_Metrics_Tracking__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.NextStep</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Next_Step_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Amount</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Products_Selected__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Blockchain Partnerships</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Products_Selected__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Institutional Trading Partnership</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Products_Selected__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Activation Incentives</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Circle_Account__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Products_Selected__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Circle Mint</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Circle_Account__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Minting_Volume</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Projected_Minting_Volume__c</elementReference>
                    </defaultValue>
                    <fieldText>Projected Minting Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Products_Selected__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Circle Mint</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Projected_Minting_Volume__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.MoU_Request_Status__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Sales</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Admin</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Partner Manager</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Solution_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <name>SolutionDocument</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Opportunity.Solution_Document__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Solution Document</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>.*</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.SE_Notes__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.SE_Demo_Completed__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Solution</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Admin</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Opportunity_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Opportunity_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Compliance_Analyst__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Opportunity.Compliance_State__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Compliance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Admin</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Opportunity_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Opportunity_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MemoOfUnderstanding</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Opportunity.Memo_of_Understanding__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Memo Of Understanding</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>.*</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Legal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>frml_profile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Admin</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Projected_MeWs__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>recordid</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
