force-app/main/default/flows/Partner_Escalation_Screenflow_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Applicable</name>
        <choiceText>Not Applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outstanding_Balance</name>
        <choiceText>Outstanding Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outstanding Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paid</name>
        <choiceText>Paid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <description>Partner Escalation: Screenflow: New</description>
    <dynamicChoiceSets>
        <name>RecommendedOutcomePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recommended_Outcome__c</picklistField>
        <picklistObject>Partner_Escalation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frml_approvals_status</name>
        <dataType>String</dataType>
        <expression>IF({!Contract_Termination_Required} = &apos;No&apos;,&apos;In Progress&apos;,null)</expression>
    </formulas>
    <formulas>
        <name>frml_escaltion_name</name>
        <dataType>String</dataType>
        <expression>&apos;Partner Escalation: &apos; + {!Get_Partnership_Objective.Name}</expression>
    </formulas>
    <interviewLabel>Partner Escalation: Screenflow: New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Escalation: Screenflow: New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Escalation</name>
        <label>Create Partner Escalation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Redirect_to_escalation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Partner_Escalation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AP_Final_Payment_Date__c</field>
            <value>
                <elementReference>AP_Final_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AR_Invoice_Status__c</field>
            <value>
                <elementReference>AR_Invoice_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AR_Total_Outstanding_Balance__c</field>
            <value>
                <elementReference>AR_Total_Outstanding_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Partnership_Objective.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Renewal_Date__c</field>
            <value>
                <elementReference>Contract_Renewal_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Termination_Required__c</field>
            <value>
                <elementReference>Contract_Termination_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Termination_Date__c</field>
            <value>
                <elementReference>Effective_Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Plan__c</field>
            <value>
                <elementReference>Escalation_Plan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Rationale__c</field>
            <value>
                <elementReference>Escalation_Rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Status__c</field>
            <value>
                <elementReference>frml_approvals_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_To_MSA__c</field>
            <value>
                <elementReference>LinkToMSA.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_To_Termination_Notice__c</field>
            <value>
                <elementReference>LinkToTerminationNotice.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Partnership_Objective.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_Rationale__c</field>
            <value>
                <elementReference>Outcome_Rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Manager_s_Manager__c</field>
            <value>
                <elementReference>Get_Partnership_Objective.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partnership_Objective__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Outcome__c</field>
            <value>
                <elementReference>Recommended_Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Contract_Termination_Date__c</field>
            <value>
                <elementReference>Requested_Contract_Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Partner_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Partnership_Objective</name>
        <label>Get Partnership Objective</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Partner_Escalation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partnership_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Partner_Escalation</name>
        <label>New Partner Escalation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Partner_Escalation</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(189, 21, 21);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Recommended_Outcome</name>
            <choiceReferences>RecommendedOutcomePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recommended Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalation_Rationale</name>
            <fieldText>Escalation Rationale</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Outcome_Rationale</name>
            <fieldText>Outcome Rationale</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalation_Plan</name>
            <fieldText>Escalation Plan</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Termination_Required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Termination Required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contract_Information</name>
            <fieldText>Contract Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Renewal_date</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Renewal Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LinkToMSA</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Link To MSA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Requested_Contract_Termination_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Requested Contract Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AR_Invoice_Status</name>
                    <choiceReferences>Not_Applicable</choiceReferences>
                    <choiceReferences>Paid</choiceReferences>
                    <choiceReferences>Outstanding_Balance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>AR Invoice Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AR_Total_Outstanding_Balance</name>
                    <dataType>Currency</dataType>
                    <fieldText>AR Total Outstanding Balance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>AP_Final_Payment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>AP Final Payment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Effective_Termination_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Effective Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LinkToTerminationNotice</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Link To Termination Notice</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contract_Termination_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pauseButtonLabel>Create</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_escalation</name>
        <label>Redirect to escalation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectToEscaltion</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Partner_Escalation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partnership_Objective</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
