force-app/main/default/flows/Partnership_Objective_Screen_Flow_Update_Launch_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Set Launch Date Rationale</description>
        <name>Set_Launch_Date_Rationale</name>
        <label>Set Launch Date Rationale</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Partnership_Objective.Launch_Date_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LaunchDateRationale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO</targetReference>
        </connector>
    </assignments>
    <description>Partnership Objective: Screen Flow: Update Launch Date</description>
    <environments>Default</environments>
    <interviewLabel>Partnership Objective: Screen Flow: Update Launch Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partnership Objective: Screen Flow: Update Launch Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Partnership_Objective</name>
        <label>Get Partnership Objective</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Launch_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partnership_Objective__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PO</name>
        <label>Update PO</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Partnership_Objective</inputReference>
    </recordUpdates>
    <screens>
        <name>Update_Launch_Date</name>
        <label>Update Launch Date</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Set_Launch_Date_Rationale</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Partnership_Objective.Launch_Date__c</objectFieldReference>
        </fields>
        <fields>
            <name>LaunchDateRationale</name>
            <dataType>String</dataType>
            <fieldText>Launch Date Rationale</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partnership_Objective</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
