force-app/main/default/flows/Partnership_Objective_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check If Current MEWs Updated</description>
        <name>Check_If_Current_MEWs_Updated</name>
        <label>Check If Current MEWs Updated</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_If_Current_Stablecoin_Liquidity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Last_Modified_Date</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_MEWs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_MEWs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Current_MEWs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_MEW_Modified_Date</targetReference>
            </connector>
            <label>Yes, Update Last Modified Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Current Stablecoin Liquidity Updated</description>
        <name>Check_If_Current_Stablecoin_Liquidity</name>
        <label>Check If Current Stablecoin Liquidity</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_If_Current_Stablecoin_Volume_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Last_Modified_Date_2</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Stablecoin_Liquidity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Stablecoin_Liquidity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Stablecoin_Liquidity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Stablecoin_Liquidity_Modified_Date</targetReference>
            </connector>
            <label>Yes, Update Last Modified Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Current Stablecoin Volume Updated</description>
        <name>Check_If_Current_Stablecoin_Volume_Updated</name>
        <label>Check If Current Stablecoin Volume Updated</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>CheckIfPerfmanceObjectiveHealthUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_set_datestamp</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Stablecoin_Volume__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Stablecoin_Volume__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Stablecoin_Volume__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Stablecoin_Volume_Modified_Date</targetReference>
            </connector>
            <label>Yes, set datestamp</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Custom Metric Updated</description>
        <name>Check_If_Custom_Metric_Updated</name>
        <label>Check If Custom Metric Updated</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_If_New_PO_Empty_Contract_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Metric_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Custom_Metric__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Custom_Metric__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Custom_Metric_Datestamp</targetReference>
            </connector>
            <label>Custom Metric Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If New PO &amp; Empty Contract End Date</description>
        <name>Check_If_New_PO_Empty_Contract_End_Date</name>
        <label>Check If New PO &amp; Empty Contract End Date</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opp_No_Contract_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_End_Date</targetReference>
            </connector>
            <label>New Opp, No Contract Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfPerfmanceObjectiveHealthUpdated</name>
        <label>Check If Perfmance Objective Health Updated</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Check_If_Custom_Metric_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_set_Performance_Objective_Health_Datestamp</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Performance_Objective_Health__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Performance_Objective_Health__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Performance_Objective_Health__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Performance_Objective_Health_Updated</targetReference>
            </connector>
            <label>Yes, set Performance Objective Health Datestamp</label>
        </rules>
    </decisions>
    <description>Add contract end date, add custom metric datestamp</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_12_months_from_now</name>
        <dataType>Date</dataType>
        <expression>Today()+365</expression>
    </formulas>
    <formulas>
        <description>current date time</description>
        <name>frml_now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Partnership Objective: Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partnership Objective: Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set Contract End Date</description>
        <name>Set_Contract_End_Date</name>
        <label>Set Contract End Date</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>frml_12_months_from_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Current MEW Modified Date</description>
        <name>Update_Current_MEW_Modified_Date</name>
        <label>Update Current MEW Modified Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Check_If_Current_Stablecoin_Liquidity</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_MEW_Updated_Date__c</field>
            <value>
                <elementReference>frml_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Current Stablecoin Liquidity Modified Date</description>
        <name>Update_Current_Stablecoin_Liquidity_Modified_Date</name>
        <label>Update Current Stablecoin Liquidity Modified Date</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_If_Current_Stablecoin_Volume_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Stablecoin_Liquidity_Updated__c</field>
            <value>
                <elementReference>frml_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Current Stablecoin Volume Modified Date</description>
        <name>Update_Current_Stablecoin_Volume_Modified_Date</name>
        <label>Update Current Stablecoin Volume Modified Date</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>CheckIfPerfmanceObjectiveHealthUpdated</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Stablecoin_Volume_Updated__c</field>
            <value>
                <elementReference>frml_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Custom Metric Datestamp</description>
        <name>Update_Custom_Metric_Datestamp</name>
        <label>Update Custom Metric Datestamp</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Check_If_New_PO_Empty_Contract_End_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Custom_Metric_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Performance_Objective_Health_Updated</name>
        <label>Update Performance Objective Health Updated</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Check_If_Custom_Metric_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Performance_Objective_Health_Updated__c</field>
            <value>
                <elementReference>frml_now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Current_MEWs_Updated</targetReference>
        </connector>
        <object>Partnership_Objective__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
