force-app/main/default/flows/Partner_Escalation_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Check If Contract Terminated, Notify Finance</description>
        <name>Check_If_Contract_Terminated_Notify_Finance</name>
        <label>Check If Contract Terminated, Notify Finance</label>
        <locationX>732</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Check_If_Escalation_Status_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Terminated_Notify_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Contract_Terminated_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contract Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Escalation Status Approved</description>
        <name>Check_If_Escalation_Status_Approved</name>
        <label>Check If Escalation Status Approved</label>
        <locationX>732</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Check_If_Contract_Terminated_Notify_Finance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Escalation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Based_On_Recommended_Outcome</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Escalation Status Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Escalation Status Rejected</description>
        <name>Check_If_Escalation_Status_Rejected</name>
        <label>Check If Escalation Status Rejected</label>
        <locationX>732</locationX>
        <locationY>2171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Escalation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Escalation_Rejected</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Escalation Status Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Manager Approved</description>
        <name>Check_If_Manager_Approved</name>
        <label>Check If Manager Approved</label>
        <locationX>732</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_If_Escalation_Status_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manager_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_BD_Owner_Of_Escaltion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Manager Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create Task Based On Recommended Outcome</description>
        <name>Create_Task_Based_On_Recommended_Outcome</name>
        <label>Create Task Based On Recommended Outcome</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Send_Escalation_Approved_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Descope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommended_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Descope</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Descope_Task</targetReference>
            </connector>
            <label>Descope</label>
        </rules>
        <rules>
            <name>Restructure_Commercials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommended_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Restructure Commercials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Restructure_Task</targetReference>
            </connector>
            <label>Restructure Commercials</label>
        </rules>
        <rules>
            <name>Change_Strategy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recommended_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Strategy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rev_Ops_Slack</targetReference>
            </connector>
            <label>Change Strategy</label>
        </rules>
    </decisions>
    <description>Partner Escalation: After Save</description>
    <environments>Default</environments>
    <formulas>
        <name>frml_opportunity_url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Partnership_Objective__r.Opportunity__c}</expression>
    </formulas>
    <formulas>
        <name>frml_pm_slack</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Circle_Slack_Channel_Id__c}</expression>
    </formulas>
    <formulas>
        <name>frml_record_url</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>frml_region</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Partnership_Objective__r.Opportunity__r.Account.Region__c})</expression>
    </formulas>
    <formulas>
        <name>frml_regional_bd_vp_name</name>
        <dataType>String</dataType>
        <expression>IF(
   OR(
      ISBLANK({!frml_region}), 
      {!frml_region} = &apos;North America&apos;,
       {!frml_region} = &apos;LATAM&apos;
   ), &apos;Spencer Spinnell&apos;,
   IF({!frml_region} = &apos;Europe&apos;,&apos;Sanja Kon&apos;,    
   IF({!frml_region} = &apos;APAC&apos;,&apos;Yam-Ki Chan&apos;,
   IF({!frml_region} = &apos;Middle East and Africa&apos;,&apos;Miriam Kiwan&apos;,&apos;Spencer Spinnell&apos;)))
)</expression>
    </formulas>
    <interviewLabel>Partner Escalation: After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Escalation: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Descope_Task</name>
        <label>Create Descope Task</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Send_Escalation_Approved_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The contract associated with this partnership objective needs to be terminated.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Escalation_Descope_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Contract Termination Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Restructure_Task</name>
        <label>Create Restructure Task</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Send_Escalation_Approved_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>An amendment opportunity needs to be created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Partnership_Objective__r.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Amendment Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Kash&apos;s User</description>
        <name>Get_Kash_s_User</name>
        <label>Get Kash&apos;s User</label>
        <locationX>600</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Kash_Of_Escalation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kash Razzaghi</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regional_BD</name>
        <label>Get Regional BD</label>
        <locationX>600</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Regional_BD_Of_Escalation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frml_regional_bd_vp_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Manager_Approved</targetReference>
        </connector>
        <object>Partner_Escalation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Notify BD Owner Manager Of Escalation</description>
        <name>Notify_BD_Owner_Manager_Of_Escaltion</name>
        <label>Notify BD Owner Manager Of Escaltion</label>
        <locationX>600</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Regional_BD</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Partnership_Objective__r.Opportunity__r.Owner_s_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Notify BD Owner Of Escaltion</description>
        <name>Notify_BD_Owner_Of_Escaltion</name>
        <label>Notify BD Owner Of Escaltion</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Notify_BD_Owner_Manager_Of_Escaltion</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Partnership_Objective__r.Opportunity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Notify Kash Of Escalation</description>
        <name>Notify_Kash_Of_Escalation</name>
        <label>Notify Kash Of Escalation</label>
        <locationX>600</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Check_If_Escalation_Status_Approved</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>Get_Kash_s_User.Circle_Slack_Channel_Id__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Notify Regional BD Of Escalation</description>
        <name>Notify_Regional_BD_Of_Escalation</name>
        <label>Notify Regional BD Of Escalation</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Notify_SE_Owner_Of_Escaltion</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>Get_Regional_BD.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Notify SE Of Escalation</description>
        <name>Notify_SE_Owner_Of_Escaltion</name>
        <label>Notify SE Owner Of Escaltion</label>
        <locationX>600</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Kash_s_User</targetReference>
        </connector>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.Partnership_Objective__r.Opportunity__r.Solutions_Engineer__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Partner_Escalation_Rejected</name>
        <label>Partner Escalation Rejected</label>
        <locationX>600</locationX>
        <locationY>2279</locationY>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_rejected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Contract_Terminated_Notification</name>
        <label>Send Contract Terminated Notification</label>
        <locationX>600</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>Check_If_Escalation_Status_Rejected</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.cps_onboarding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_contract_terminated</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Escalation_Approved_Notification</name>
        <label>Send Escalation Approved Notification</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Check_If_Contract_Terminated_Notify_Finance</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.partner_escalation_approvals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_partner_escalation_approved</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Rev_Ops_Slack</name>
        <label>Send Rev-Ops Slack</label>
        <locationX>578</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Send_Escalation_Approved_Notification</targetReference>
        </connector>
        <flowName>Slack_Channel_Notifications_Subflow</flowName>
        <inputAssignments>
            <name>ConversationId</name>
            <value>
                <elementReference>$Setup.Slack_Channel__c.rev_ops__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_rev_ops_notification</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_bd_change_strategy</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Parter Escalation For Changing Strategy Was Approved
Please update the partnership construct
Name: {!$Record.Name}
Recommended Outcome: {!$Record.Recommended_Outcome__c}
Escalation Rationale: {!$Record.Escalation_Rationale__c}
&lt;{!frml_record_url}|Vew Escalation&gt;
&lt;{!frml_opportunity_url}|View Opportunity&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_contract_terminated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Parter Escalation For A Contract Termination Has Been Finalized
Name: {!$Record.Name}
Recommended Outcome: {!$Record.Recommended_Outcome__c}
Escalation Rationale: {!$Record.Escalation_Rationale__c}
Outcome Rationale: {!$Record.Outcome_Rationale__c}
Escalation Plan: {!$Record.Escalation_Plan__c}
&lt;{!frml_record_url}|Vew Escalation&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_partner_escalation_approved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Parter Escalation Was Approved
Name: {!$Record.Name}
Recommended Outcome: {!$Record.Recommended_Outcome__c}
Escalation Rationale: {!$Record.Escalation_Rationale__c}
Outcome Rationale: {!$Record.Outcome_Rationale__c}
Escalation Plan: {!$Record.Escalation_Plan__c}
&lt;{!frml_record_url}|Vew Escalation&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_partner_escalation_rejected</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Parter Escalation Was Rejected
Name: {!$Record.Name}
Recommended Outcome: {!$Record.Recommended_Outcome__c}
Escalation Rationale: {!$Record.Escalation_Rationale__c}
Outcome Rationale: {!$Record.Outcome_Rationale__c}
Escalation Plan: {!$Record.Escalation_Plan__c}
&lt;{!frml_record_url}|Vew Escalation&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_partner_escalation_submitted</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A New Parter Escalation Was Submitted
Name: {!$Record.Name}
Recommended Outcome: {!$Record.Recommended_Outcome__c}
Escalation Rationale: {!$Record.Escalation_Rationale__c}
Outcome Rationale: {!$Record.Outcome_Rationale__c}
Escalation Plan: {!$Record.Escalation_Plan__c}
&lt;{!frml_record_url}|Vew Escalation&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_rev_ops_notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Change Strategy Parter Escalation Was Approved. Please update the partnership objective / opportunity with the relevant changes. 
Name: {!$Record.Name}
Recommended Outcome: {!$Record.Recommended_Outcome__c}
Escalation Rationale: {!$Record.Escalation_Rationale__c}
Outcome Rationale: {!$Record.Outcome_Rationale__c}
Escalation Plan: {!$Record.Escalation_Plan__c}
PM: &lt;@{!frml_pm_slack}&gt;
&lt;{!frml_record_url}|Vew Escalation&gt;</text>
    </textTemplates>
</Flow>
