force-app/main/default/flows/Partnership_Objective_Screenflow_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Set PO Fields</description>
        <name>Set_PO_Fields</name>
        <label>Set PO Fields</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Metrics Tracking</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_po_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Objective_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Objective_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Performance_Objective_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Stablecoin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USDC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Projected_MeWs_Growth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Projected_MeWs_Growth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Projected_Total_Stablecoin_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Projected_Total_Stablecoin_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Projected_Stablecoin_On_Platform_Growth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Projected_Stablecoin_On_Platform_Growth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.MeW_Timeframe_in_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.MeW_Timeframe_in_months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Stablecoin_Volume_Timeframe_in_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Stablecoin_Volume_Timeframe_in_months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Stablecoin_On_Pltfrm_Timeframe_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Stablecoin_On_Pltfrm_Timeframe_months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Monthly_Active_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Monthly_Active_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Time_Horizon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_time_horizon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Success_Metrics_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Success_Metrics_Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frml_contract_end_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnershipObjective.Report_to_Post_Deal_Dashboard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Partnership_Objective</targetReference>
        </connector>
    </assignments>
    <description>PO V3</description>
    <dynamicChoiceSets>
        <description>Type field from Partner Objective</description>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Partnership_Objective__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frml_contract_end_date</name>
        <dataType>Date</dataType>
        <expression>IF(!ISBLANK({!Get_Opportunity.Contract_End_Date__c}),{!Get_Opportunity.Contract_End_Date__c},TODAY()+365)</expression>
    </formulas>
    <formulas>
        <name>frml_po_name</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &apos; Metrics Tracking&apos;</expression>
    </formulas>
    <formulas>
        <name>frml_time_horizon</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Opportunity.Contract_End_Date__c}-TODAY()&lt; 183, &apos;Short&apos;, IF({!Get_Opportunity.Contract_End_Date__c}-TODAY() &lt; 730, &apos;Medium&apos;,&apos;Long&apos; ))</expression>
    </formulas>
    <interviewLabel>Partnership Objective: Screenflow: New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partnership Objective: Screenflow: New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Partnership Objective</description>
        <name>Create_Partnership_Objective</name>
        <label>Create Partnership Objective</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Partnership_Objective</targetReference>
        </faultConnector>
        <inputReference>PartnershipObjective</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Opportunity</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PO_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Partnership_Objective</name>
        <label>New Partnership Objective</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Partnership_Objective</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Custom_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!var_errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PartnershipObjective.Performance_Objective_Health__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PartnershipObjective.Objective_Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PartnershipObjective.Objective_Start_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PartnershipObjective.Stablecoin__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PartnershipObjective.Pillar__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PartnershipObjective.Customer_Segment__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_To_Partnership_Objective</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PartnershipObjective.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Success! Redirecting To New Partnership Objective&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PartnershipObjective</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partnership_Objective__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>error message to send back to create screen</description>
        <name>var_errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
