force-app/main/default/flows/Screenflow_Opportunity_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Biz_Dev_Id</name>
        <label>Assign Biz Dev Id</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Biz_Dev_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Finance_Partnership_Id</name>
        <label>Assign Finance Partnership Id</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Financial_Partnership_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Integration_ID</name>
        <label>Assign Product Integration ID</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Integration_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Id</name>
        <label>Assign Renewal Id</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renewal_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accounts_API</name>
        <choiceText>Accounts API</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts API</stringValue>
        </value>
    </choices>
    <choices>
        <name>Activation_Incentives</name>
        <choiceText>Activation Incentives</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Activation Incentives</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amendment</name>
        <choiceText>Amendment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amendment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blockchain_Partnerships</name>
        <choiceText>Blockchain Partnerships</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blockchain Partnerships</stringValue>
        </value>
    </choices>
    <choices>
        <name>Book247</name>
        <choiceText>Book 24/7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Book 24/7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bridged_USDC_Standard</name>
        <choiceText>Bridged USDC Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bridged USDC Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Development</name>
        <choiceText>Business Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>CCTP</name>
        <choiceText>CCTP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCTP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Channel_Partnerships_Reseller</name>
        <choiceText>Channel Partnerships / Reseller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Channel Partnerships / Reseller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Channel_Sales</name>
        <choiceText>Channel Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Channel Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Circle_Account</name>
        <choiceText>Circle Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Circle Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Circle_Custody</name>
        <choiceText>Circle Custody</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Circle Custody</stringValue>
        </value>
    </choices>
    <choices>
        <name>CircleMint</name>
        <choiceText>Circle Mint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Circle Mint</stringValue>
        </value>
    </choices>
    <choices>
        <name>Core_API</name>
        <choiceText>Core API</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Core API</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crypto_Deposits</name>
        <choiceText>Crypto Deposits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crypto Deposits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crypto_Payments</name>
        <choiceText>Crypto Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crypto Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crypto_Payouts</name>
        <choiceText>Crypto Payouts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crypto Payouts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cybavo_Cashflow_Manager</name>
        <choiceText>Cybavo Cashflow Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cybavo Cashflow Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cybavo_VAULT</name>
        <choiceText>Cybavo VAULT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cybavo VAULT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deposits</name>
        <choiceText>Deposits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deposits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discovery_SubStage</name>
        <choiceText>Discovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discovery</stringValue>
        </value>
    </choices>
    <choices>
        <name>DomesticWires</name>
        <choiceText>Domestic Wires</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domestic Wires</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Business</name>
        <choiceText>Existing Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extension</name>
        <choiceText>Extension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Financial_Partnership</name>
        <choiceText>Financial Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gas_Station</name>
        <choiceText>Gas Station</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas Station</stringValue>
        </value>
    </choices>
    <choices>
        <name>Growth_Incentive_Campaigns</name>
        <choiceText>Growth / Incentive Campaigns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Growth / Incentive Campaigns</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indirect_Liquidity_Partners</name>
        <choiceText>Indirect Liquidity Partners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indirect Liquidity Partners</stringValue>
        </value>
    </choices>
    <choices>
        <name>InstantSettlement</name>
        <choiceText>Instant Settlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instant Settlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Institutional_Trading_Partnership</name>
        <choiceText>Institutional Trading Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional Trading Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Integration_Services_Deals</name>
        <choiceText>Integration Services Deals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Integration Services Deals</stringValue>
        </value>
    </choices>
    <choices>
        <name>IntlWires</name>
        <choiceText>Int’l Wires</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Int’l Wires</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loans</name>
        <choiceText>Loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multi_party_ecosystem_program</name>
        <choiceText>Multi-party ecosystem program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi-party ecosystem program</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Business</name>
        <choiceText>New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payments_API</name>
        <choiceText>Payments API</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payments API</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payouts_API</name>
        <choiceText>Payouts API</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payouts API</stringValue>
        </value>
    </choices>
    <choices>
        <name>Performance_Incentives</name>
        <choiceText>Performance Incentives</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Performance Incentives</stringValue>
        </value>
    </choices>
    <choices>
        <name>PreliminaryReview_SubStage</name>
        <choiceText>Preliminary Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Preliminary Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Integrations</name>
        <choiceText>Product Integrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Integrations</stringValue>
        </value>
    </choices>
    <choices>
        <description>Programmable Wallets</description>
        <name>Programmable_Wallets</name>
        <choiceText>Programmable Wallets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Programmable Wallets</stringValue>
        </value>
    </choices>
    <choices>
        <name>PSP_Crypto_Settlement</name>
        <choiceText>PSP Crypto Settlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PSP Crypto Settlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Read_Only_API</name>
        <choiceText>Read Only API</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Read Only API</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referrals</name>
        <choiceText>Referrals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referrals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewal</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Smart_Contract_Platform</name>
        <choiceText>Smart Contract Platform</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Smart Contract Platform</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical_partnership_non_dev</name>
        <choiceText>Technical partnership non-dev</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical partnership non-dev</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verite</name>
        <choiceText>Verite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verite</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Record_Type_Selected</name>
        <label>Record Type Selected</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Dev_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_Development</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Dev_Screen</targetReference>
            </connector>
            <label>Business Dev</label>
        </rules>
        <rules>
            <name>Renewal_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Renewal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Screen</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Financial_Partnership_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Financial_Partnership</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Partnership_Screen</targetReference>
            </connector>
            <label>Financial Partnership</label>
        </rules>
        <rules>
            <name>Product_Integrations_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_record_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Integrations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Integrations_Screen</targetReference>
            </connector>
            <label>Product Integrations Record</label>
        </rules>
    </decisions>
    <description>Add Loans</description>
    <dynamicChoiceSets>
        <name>Amendment_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Amendment_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Circle_Custody_Tier</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Circle_Custody_Tier__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FinancPartnerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Financial_Partnership_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>ProductsPicklistValues</description>
        <name>ProductsPicklistValues</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_s__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Case</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Use_Case__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frml_Jurisdiction_FinancPartner</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK(TEXT({!Get_Contact.Account.Country__c})),
IF(ISPICKVAL({!Get_Contact.Account.Country__c}, &apos;US&apos;), TEXT({!Get_Contact.Account.Country__c}) + &quot; - &quot; +{!Get_Contact.Account.BillingState}, TEXT({!Get_Contact.Account.Country__c})),&apos;N/A&apos;)</expression>
    </formulas>
    <formulas>
        <description>now()</description>
        <name>var_now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Screenflow: Opportunity: New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Screenflow: New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Biz_Dev_Opportunity</name>
        <label>Biz Dev Opportunity</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Biz_Dev_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_Biz_Dev_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Prospect_Stage_Entered__c</field>
            <value>
                <elementReference>var_now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_Biz_Dev_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Step_biz_dev</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Date__c</field>
            <value>
                <elementReference>Next_Step_Date_Biz_dev_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Objective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_s__c</field>
            <value>
                <elementReference>Product_s_BD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.BusinessDevelopmentOpp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Discover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type_Biz_Dev_biz_dev_screen</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Opportunity Contact Role</description>
        <name>Create_Opportunity_Contact_Role</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Success_Messsage</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Financial_Partnership_Opportunity</name>
        <label>Financial Partnership Opportunity</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Finance_Partnership_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Closed_Date_FinancPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Partnership_Category__c</field>
            <value>
                <elementReference>Financial_Partnership_Category_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_FinancPartner_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Steps_FinancPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Date__c</field>
            <value>
                <elementReference>Next_Step_Date_FinancPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>ObjectiveFinancPartnership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_s__c</field>
            <value>
                <elementReference>Product_s_FinancPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.FinancialPartnershipOpp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risks_Dependencies__c</field>
            <value>
                <elementReference>Risks_Dependencies_FinancPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pre-Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Product_Integration_Opportunity</name>
        <label>Product Integration Opportunity</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Product_Integration_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_Product_integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Prospect_Stage_Entered__c</field>
            <value>
                <elementReference>var_now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_Product_Integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Step_Date_Product_integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step_Date__c</field>
            <value>
                <elementReference>Next_Step_Date_Product_integration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>ObjectiveProductIntegration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_s__c</field>
            <value>
                <elementReference>Product_s_Product_Integrations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.ProductIntegrationsOpp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Discover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type_Product_Integration</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Renewal_Opportunity</name>
        <label>Renewal Opportunity</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Renewal_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amendment_Details__c</field>
            <value>
                <elementReference>Amendment_Details_Renewal_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amendment_Type__c</field>
            <value>
                <elementReference>Amendment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circle_Custody_Tier__c</field>
            <value>
                <elementReference>Circle_Custody_Tier_renewal_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_Renewal_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Discover_Stage_Entered__c</field>
            <value>
                <elementReference>var_now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Prospect_Stage_Entered__c</field>
            <value>
                <elementReference>var_now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name_Renewal_screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>ObjectiveRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_s__c</field>
            <value>
                <elementReference>Product_s_renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.RenewalOpp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Discover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type_Renewal_screen</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Record_Type_Picklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Business_Dev_Screen</name>
        <label>Business Dev Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Biz_Dev_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_Biz_Dev_screen</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date_Biz_Dev_screen</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_Biz_Dev_biz_dev_screen</name>
            <choiceReferences>New_Business</choiceReferences>
            <choiceReferences>Existing_Business</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_s_BD</name>
            <choiceReferences>Accounts_API</choiceReferences>
            <choiceReferences>Activation_Incentives</choiceReferences>
            <choiceReferences>Blockchain_Partnerships</choiceReferences>
            <choiceReferences>Channel_Sales</choiceReferences>
            <choiceReferences>Crypto_Deposits</choiceReferences>
            <choiceReferences>Crypto_Payouts</choiceReferences>
            <choiceReferences>Indirect_Liquidity_Partners</choiceReferences>
            <choiceReferences>Institutional_Trading_Partnership</choiceReferences>
            <choiceReferences>Payouts_API</choiceReferences>
            <choiceReferences>Payments_API</choiceReferences>
            <choiceReferences>Performance_Incentives</choiceReferences>
            <choiceReferences>Product_Integrations</choiceReferences>
            <choiceReferences>Programmable_Wallets</choiceReferences>
            <choiceReferences>PSP_Crypto_Settlement</choiceReferences>
            <choiceReferences>Referrals</choiceReferences>
            <choiceReferences>Smart_Contract_Platform</choiceReferences>
            <choiceReferences>Gas_Station</choiceReferences>
            <choiceReferences>Loans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Objective</name>
            <fieldText>Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step_biz_dev</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Date_Biz_dev_screen</name>
            <dataType>Date</dataType>
            <fieldText>Next Step Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BizDevFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please contact your system administrator to resolve the following error message:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Financial_Partnership_Screen</name>
        <label>Financial Partnership Screen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Financial_Partnership_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_FinancPartner_Screen</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Financial_Partnership_Category_screen</name>
            <choiceReferences>FinancPartnerPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Financial Partnership Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_s_FinancPartner</name>
            <choiceReferences>Deposits</choiceReferences>
            <choiceReferences>IntlWires</choiceReferences>
            <choiceReferences>DomesticWires</choiceReferences>
            <choiceReferences>InstantSettlement</choiceReferences>
            <choiceReferences>Book247</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectiveFinancPartnership</name>
            <fieldText>Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Risks_Dependencies_FinancPartner</name>
            <fieldText>Risks &amp; Dependencies</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Date_FinancPartner</name>
            <dataType>Date</dataType>
            <fieldText>Closed Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Steps_FinancPartner</name>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Date_FinancPartner</name>
            <dataType>Date</dataType>
            <fieldText>Next Step Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opp_Record_Type_Picklist</name>
        <label>Opp Record Type Picklist</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Record_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>Select_a_record_type</name>
            <choiceReferences>Business_Development</choiceReferences>
            <choiceReferences>Renewal</choiceReferences>
            <choiceReferences>Financial_Partnership</choiceReferences>
            <choiceReferences>Product_Integrations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a record type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Integrations_Screen</name>
        <label>Product Integrations Screen</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Integration_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_Product_Integration</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date_Product_integration</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_Product_Integration</name>
            <choiceReferences>New_Business</choiceReferences>
            <choiceReferences>Existing_Business</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_s_Product_Integrations</name>
            <choiceReferences>Core_API</choiceReferences>
            <choiceReferences>Read_Only_API</choiceReferences>
            <choiceReferences>CCTP</choiceReferences>
            <choiceReferences>Bridged_USDC_Standard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectiveProductIntegration</name>
            <fieldText>Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step_product_integration</name>
            <dataType>String</dataType>
            <fieldText>Next Step</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Next_Step_Date_Product_integration</name>
            <dataType>Date</dataType>
            <fieldText>Next Step Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Renewal_Screen</name>
        <label>Renewal Screen</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Renewal_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name_Renewal_screen</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date_Renewal_screen</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_Renewal_screen</name>
            <choiceReferences>Extension</choiceReferences>
            <choiceReferences>Amendment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amendment_Type_Renewal_screen</name>
            <choiceReferences>Amendment_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amendment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Renewal_screen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Amendment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_s_renewal</name>
            <choiceReferences>Accounts_API</choiceReferences>
            <choiceReferences>Activation_Incentives</choiceReferences>
            <choiceReferences>Blockchain_Partnerships</choiceReferences>
            <choiceReferences>Channel_Sales</choiceReferences>
            <choiceReferences>Crypto_Deposits</choiceReferences>
            <choiceReferences>Crypto_Payouts</choiceReferences>
            <choiceReferences>Indirect_Liquidity_Partners</choiceReferences>
            <choiceReferences>Institutional_Trading_Partnership</choiceReferences>
            <choiceReferences>Payouts_API</choiceReferences>
            <choiceReferences>Payments_API</choiceReferences>
            <choiceReferences>Performance_Incentives</choiceReferences>
            <choiceReferences>Product_Integrations</choiceReferences>
            <choiceReferences>Programmable_Wallets</choiceReferences>
            <choiceReferences>PSP_Crypto_Settlement</choiceReferences>
            <choiceReferences>Referrals</choiceReferences>
            <choiceReferences>Smart_Contract_Platform</choiceReferences>
            <choiceReferences>Gas_Station</choiceReferences>
            <choiceReferences>Loans</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ObjectiveRenewal</name>
            <fieldText>Objective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Circle_Custody_Tier_renewal_screen</name>
            <choiceReferences>Circle_Custody_Tier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Circle Custody Tier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_s_renewal</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Circle_Custody</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Circle_Custody_Tier_Renewal_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 7, 7);&quot;&gt;If Circle Custody is selected, Circle Custody Tier must be filled in. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 7, 7);&quot;&gt;If you do not fill in the Circle Custody Tier you will not be able to save the record!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product_s_renewal</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Circle_Custody</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Amendment_Details_Renewal_screen</name>
            <dataType>String</dataType>
            <fieldText>Amendment Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_Renewal_screen</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Amendment</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Amount_Renewal</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Auto_Renewal_Renewal</name>
            <dataType>Boolean</dataType>
            <fieldText>Auto-Renewal?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Messsage</name>
        <label>Success Messsage</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NavigateToNewOpportunity</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Success_Message_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your Opportunity has been created. &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Good luck!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;....&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!OpportunityId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;strong&gt;View Opportunity&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Renewal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Master_Record_Type_Table__mdt</objectType>
    </variables>
</Flow>
