force-app/main/default/flows/Survey_Response_Notifications_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Set Question 1 Response</description>
        <name>Set_Question_1_Repsonse</name>
        <label>Set Question 1 Repsonse</label>
        <locationX>666</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>var_question_1_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_survey_responses.ChoiceValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_survey_responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Question 2 response</description>
        <name>Set_Question_2_Response</name>
        <label>Set Question 2 Response</label>
        <locationX>930</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>var_question_2_response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_survey_responses.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_survey_responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Case Owner Is User</description>
        <name>Check_Case_Owner_Is_User</name>
        <label>Check Case Owner Is User</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org</targetReference>
            </connector>
            <label>Case Owner Is User</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check If Notification Should Be Sent Out</description>
        <name>Check_If_Notification_Should_Be_Sent_Out</name>
        <label>Check If Notification Should Be Sent Out</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Send_Notification</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_question_1_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_question_2_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_question_2_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_question_2_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_question_1_response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_Connected_to_Slack</targetReference>
            </connector>
            <label>Yes, Send Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check which question is being answered and store response value</description>
        <name>Check_Which_Question</name>
        <label>Check Which Question</label>
        <locationX>930</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Loop_through_survey_responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Question_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_survey_responses.Question.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>How helpful was the Circle Customer Care Representative in responding to your issue?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Question_1_Repsonse</targetReference>
            </connector>
            <label>Question 1</label>
        </rules>
        <rules>
            <name>Question_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_survey_responses.Question.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>How would you rate your experience with our Customer Care Representative?</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_survey_responses.Question.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>How would you rate your experience with our Customer Care Representative?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Question_2_Response</targetReference>
            </connector>
            <label>Question 2</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks if the status is complete and the survey is the case followup</description>
        <name>Customer_Care_Survey_Complete</name>
        <label>Customer Care Survey Complete</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>customer_care_a</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cybavo_customer_satisfaction_survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Subject</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks if the Case Owner&apos;s Manager has a Circle Slack Id</description>
        <name>Manager_Connected_to_Slack</name>
        <label>Manager Connected to Slack</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Make_Task_For_Manager_To_Connect_Slack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Case.Owner:User.Manager.Circle_Slack_Channel_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Case_Survey_Notification_To_Manager</targetReference>
            </connector>
            <label>Connected</label>
        </rules>
        <rules>
            <name>No_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Manager</label>
        </rules>
    </decisions>
    <decisions>
        <description>This checks if the survey is related to a case</description>
        <name>Survey_Related_to_Case</name>
        <label>Survey Related to Case</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>relatedToCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Subject.SubjectEntityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case</targetReference>
            </connector>
            <label>relatedToCase</label>
        </rules>
    </decisions>
    <description>slack refactor</description>
    <environments>Default</environments>
    <formulas>
        <description>This is the formula for the Case URL</description>
        <name>frml_CaseRecordURL</name>
        <dataType>String</dataType>
        <expression>{!SalesforceBaseUrl}&amp;{!Get_Related_Case.Id}</expression>
    </formulas>
    <formulas>
        <description>This is the Survey Response URL</description>
        <name>frml_SurveyResponseURL</name>
        <dataType>String</dataType>
        <expression>{!SalesforceBaseUrl}&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <description>Base SF Url for staging or prod</description>
        <name>SalesforceBaseUrl</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Get_Org.IsSandbox}), &apos;https://circleinternetfinancial.lightning.force.com/&apos;, &apos;https://circleinternetfinancial--staging.sandbox.lightning.force.com/&apos;)</expression>
    </formulas>
    <interviewLabel>Survey Response: Notifications - AS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response: After Save</label>
    <loops>
        <description>loop through question responses</description>
        <name>Loop_through_survey_responses</name>
        <label>Loop through survey responses</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Survey_Question_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Which_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Notification_Should_Be_Sent_Out</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Manager Needs To Connect Slack</description>
        <name>Make_Task_For_Manager_To_Connect_Slack</name>
        <label>Make Task For Manager To Connect Slack</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Salesforce failed to send you a case survey result message due to your slack not being connected, please connect. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Related_Case.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Please Connect Your Slack To Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This gets the Org to determine if this is Prod or Sandbox</description>
        <name>Get_Org</name>
        <label>Get Org</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Question_Responses</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This gets the Case associated with the survey.</description>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Owner_Is_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Subject.SubjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This gets the responses to the survey questions</description>
        <name>Get_Survey_Question_Responses</name>
        <label>Get Survey Question Responses</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_survey_responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This gets the associated survey Invite from the survey response.</description>
        <name>Get_Survey_Subject</name>
        <label>Get Survey Subject</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Related_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Care_Survey_Complete</targetReference>
        </connector>
        <object>SurveyResponse</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send Case Survey Notification To Manager</description>
        <name>Send_Case_Survey_Notification_To_Manager</name>
        <label>Send Case Survey Notification To Manager</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <flowName>Send_Slack_Notification_To_User</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SlackMessage</name>
            <value>
                <elementReference>tt_NPSAlert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>Get_Related_Case.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>This is the Slack Notification sent to the case owner manager</description>
        <name>tt_NPSAlert</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>NPS Alert
A customer completed a satisfaction survey with a notable response:
Has your question been answered: {!var_question_1_response}
How helpful was circle care score: {!var_question_2_response}
Case Number: {!Get_Related_Case.CaseNumber}
Agent Name: {!Get_Related_Case.Owner:User.FirstName} {!Get_Related_Case.Owner:User.LastName}
&lt;{!frml_CaseRecordURL}|View Case&gt;
&lt;{!frml_SurveyResponseURL}|View Survey&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_Questions_1_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SurveyQuestionResponse</objectType>
    </variables>
    <variables>
        <description>Question 1 response</description>
        <name>var_question_1_response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Question 2 response</description>
        <name>var_question_2_response</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
